{
   "openapi": "3.1.0",
   "info": {
      "title": "Внешнее API проекта Автобаза 2.0",
      "version": "0.1.0"
   },
   "servers": [
      {
         "url": "https://api.autobase.ru",
         "description": "Autobase"
      }
   ],
   "security": [
      {
         "basicAuth": []
      }
   ],
   "tags": [
      {
         "name": "Case",
         "description": "Группа ендпоинтов для работы с делами"
      },
      {
         "name": "export",
         "description": "Группа ендпоинтов для работы внешнего API"
      }
   ],
   "paths": {
      "/case/find": {
         "post": {
            "tags": [
               "Case"
            ],
            "summary": "Поиск дел по заданому запросу",
            "requestBody": {
               "content": {
                  "application/json;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/AbCaseQuery"
                     }
                  },
                  "text/yaml;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/AbCaseQuery"
                     }
                  }
               }
            },
            "responses": {
               "200": {
                  "description": "Поиск дел по заданому запросу",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "allOf": [
                              {
                                 "$ref": "#/components/schemas/SuccessConvert"
                              },
                              {
                                 "type": "object",
                                 "properties": {
                                    "data": {
                                       "$ref": "#/components/schemas/FindAbCaseResult"
                                    }
                                 }
                              }
                           ]
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/case/{case_uid}/available-calcs": {
         "get": {
            "tags": [
               "Case"
            ],
            "summary": "Получение доступных для дела калькуляций",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "UID дела",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Получение доступных для дела калькуляций",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "allOf": [
                              {
                                 "$ref": "#/components/schemas/SuccessConvert"
                              },
                              {
                                 "type": "object",
                                 "properties": {
                                    "data": {
                                       "$ref": "#/components/schemas/AvailableCalcResult"
                                    }
                                 }
                              }
                           ]
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/calc/{calc_uid}/content/get": {
         "get": {
            "tags": [
               "export"
            ],
            "summary": "Получение контента завершенной калькуляции по идентификатору калькуляции",
            "parameters": [
               {
                  "name": "calc_uid",
                  "in": "path",
                  "description": "Идентификатор калькуляции",
                  "required": false
               }
            ],
            "responses": {
               "200": {
                  "description": "Получение контента завершенной калькуляции по идентификатору калькуляции",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "allOf": [
                              {
                                 "$ref": "#/components/schemas/SuccessConvert"
                              },
                              {
                                 "type": "object",
                                 "properties": {
                                    "data": {
                                       "$ref": "#/components/schemas/CalculationResult"
                                    }
                                 }
                              }
                           ]
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/{case_uid}/last-calc/content/get": {
         "get": {
            "tags": [
               "export"
            ],
            "summary": "Получение контента последней завершенной калькуляции по идентификатору дела",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "Идентификатор дела",
                  "required": false
               }
            ],
            "responses": {
               "200": {
                  "description": "Получение контента последней завершенной калькуляции по идентификатору дела",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "allOf": [
                              {
                                 "$ref": "#/components/schemas/SuccessConvert"
                              },
                              {
                                 "type": "object",
                                 "properties": {
                                    "data": {
                                       "$ref": "#/components/schemas/CalculationResult"
                                    }
                                 }
                              }
                           ]
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      }
   },
   "components": {
      "schemas": {
         "AbCaseActionQuery": {
            "type": "object",
            "properties": {
               "client_uid": {
                  "type": "string",
                  "description": "ClientUid - идентификатор клиента"
               }
            },
            "description": "AbCaseActionQuery - запрос для ендпоинта действий над делом"
         },
         "AbCaseCreatorView": {
            "type": "object",
            "properties": {
               "client_name": {
                  "title": "Название клиента пользователя",
                  "type": "string"
               },
               "client_uid": {
                  "title": "Идентификатор клиента пользователя",
                  "type": "string"
               },
               "group_name": {
                  "title": "Название группы пользователя",
                  "type": "string"
               },
               "group_uid": {
                  "title": "Идентификатор группы пользователя",
                  "type": "string"
               },
               "user_name": {
                  "title": "Фио пользователя",
                  "type": "string"
               },
               "user_uid": {
                  "title": "Идентификатор пользователя",
                  "type": "string"
               }
            },
            "description": "AbCaseCreatorView - информация о создателе дела, объект для отображения на фронте"
         },
         "AbCaseDefaults": {
            "type": "object",
            "properties": {
               "add_code_20_value": {
                  "type": "number",
                  "description": "AddCode20Value - Дефолтное значение для кода 20"
               },
               "add_code_28_value": {
                  "type": "number",
                  "description": "AddCode28Value - Дефолтное значение для кода 28"
               },
               "add_code_42_value": {
                  "type": "number",
                  "description": "AddCode42Value - Дефолтное значение для кода 42"
               },
               "painting_calc_method": {
                  "title": "",
                  "type": "string",
                  "description": "PaintingCalcMethod - способ расчета окрасочных работ",
                  "$ref": "#/components/schemas/PaintingCalcMethod"
               },
               "price_one_norm_hour": {
                  "type": "number",
                  "description": "PriceOneNormHour - Дефолтное значение цены нормо-часа 1"
               },
               "price_two_norm_hour": {
                  "type": "number",
                  "description": "PriceTwoNormHour - Дефолтное значение цены нормо-часа 2"
               }
            },
            "description": "AbCaseDefaults - список дефолтов дела"
         },
         "AbCaseExtendedCardView": {
            "type": "object",
            "properties": {
               "accident_certificate": {
                  "title": "Справка о ДТП",
                  "type": "string",
                  "description": "Справка о ДТП"
               },
               "accident_date": {
                  "title": "Дата время ДТП",
                  "type": "string",
                  "description": "Дата время ДТП"
               },
               "add_code_20_use": {
                  "type": "boolean",
                  "description": "AddCode20Use - признак использования кода 20"
               },
               "add_code_20_value": {
                  "type": "number",
                  "description": "AddCode20Value - значение для кода 20"
               },
               "add_code_28_use": {
                  "type": "boolean",
                  "description": "AddCode28Use - признак использования кода 28"
               },
               "add_code_28_value": {
                  "type": "number",
                  "description": "AddCode28Value - значение для кода 28"
               },
               "add_code_42_use": {
                  "type": "boolean",
                  "description": "AddCode42Use - признак использования кода 42"
               },
               "add_code_42_value": {
                  "type": "number",
                  "description": "AddCode42Value - значение для кода 42"
               },
               "body": {
                  "title": "Номер кузова ТС",
                  "type": "string",
                  "description": "Номер кузова ТС"
               },
               "body_color": {
                  "title": "Цвет кузова ТС",
                  "type": "string",
                  "description": "Цвет кузова ТС"
               },
               "c28_use_wearout": {
                  "type": "boolean",
                  "description": "AddCode28UseWearout - признак использовать ли скидку с учетом 28 кода"
               },
               "case_number": {
                  "title": "Номер дела",
                  "type": "string",
                  "description": "Номер дела"
               },
               "chassis": {
                  "title": "Номер шасси ТС",
                  "type": "string",
                  "description": "Номер шасси ТС"
               },
               "create_date": {
                  "title": "Дата время создания дела",
                  "type": "string",
                  "description": "Дата время создания дела"
               },
               "custom_mark": {
                  "type": "string",
                  "description": "CustomMark - марка ТС, указанная экспертом"
               },
               "custom_model": {
                  "type": "string",
                  "description": "CustomModel - Модель ТС, указанная экспертом"
               },
               "custom_modification": {
                  "type": "string",
                  "description": "CustomModification - Модификация ТС, указанная экспертом"
               },
               "custom_vehicle_class": {
                  "type": "string",
                  "description": "CustomVehicleClass - Класс ТС, указанный экспертом"
               },
               "customer_address": {
                  "title": "Заказчик: Адрес",
                  "type": "string",
                  "description": "Заказчик: Адрес"
               },
               "customer_area": {
                  "title": "Заказчик: Область",
                  "type": "string",
                  "description": "Заказчик: Область"
               },
               "customer_city": {
                  "title": "Заказчик: Город",
                  "type": "string",
                  "description": "Заказчик: Город"
               },
               "customer_contact_email": {
                  "title": "Заказчик: Электронная почта контактного лица",
                  "type": "string",
                  "description": "Заказчик: Электронная почта контактного лица"
               },
               "customer_contact_fio": {
                  "title": "Заказчик: ФИО контактного лица",
                  "type": "string",
                  "description": "Заказчик: ФИО контактного лица"
               },
               "customer_contact_phone": {
                  "title": "Заказчик: Телефон контактного лица",
                  "type": "string",
                  "description": "Заказчик: Телефон контактного лица"
               },
               "customer_index": {
                  "title": "Заказчик: Индекс",
                  "type": "string",
                  "description": "Заказчик: Индекс"
               },
               "customer_inn": {
                  "title": "Заказчик: ИНН",
                  "type": "string",
                  "description": "Заказчик: ИНН"
               },
               "customer_kpp": {
                  "title": "Заказчик: КПП",
                  "type": "string",
                  "description": "Заказчик: КПП"
               },
               "customer_name": {
                  "title": "Заказчик: Название",
                  "type": "string",
                  "description": "Заказчик: Название"
               },
               "engine_number": {
                  "title": "Номер двигателя",
                  "type": "string",
                  "description": "Номер двигателя"
               },
               "engine_power": {
                  "title": "Мощность двигателя",
                  "type": "string",
                  "description": "Мощность двигателя"
               },
               "engine_volume": {
                  "title": "Рабочий объем двигателя",
                  "type": "string",
                  "description": "Рабочий объем двигателя"
               },
               "expert_opinion_contract_conditions": {
                  "title": "Экспертное заключение. Условия контракта (номер)",
                  "type": "string",
                  "description": "Экспертное заключение. Условия контракта (номер)"
               },
               "expert_opinion_experts_conclusions": {
                  "title": "Экспертное заключение. Выводы эксперта",
                  "type": "string",
                  "description": "Экспертное заключение. Выводы эксперта"
               },
               "expert_opinion_head_fio": {
                  "title": "Экспертное заключение. Руководитель организации (ФИО)",
                  "type": "string",
                  "description": "Экспертное заключение. Руководитель организации (ФИО)"
               },
               "expert_opinion_number": {
                  "title": "Экспертное заключение. Номер",
                  "type": "string",
                  "description": "Экспертное заключение. Номер"
               },
               "expert_opinion_reg_number": {
                  "title": "Экспертное заключение. Регистрационный номер (МАК)",
                  "type": "string",
                  "description": "Экспертное заключение. Регистрационный номер (МАК)"
               },
               "expert_opinion_research_established": {
                  "title": "Экспертное заключение. Исследованием установлено",
                  "type": "string",
                  "description": "Экспертное заключение. Исследованием установлено"
               },
               "expert_opinion_special_opinion": {
                  "title": "Экспертное заключение. Особое мнение",
                  "type": "string",
                  "description": "Экспертное заключение. Особое мнение"
               },
               "expert_opinion_technician_fio": {
                  "title": "Экспертное заключение. Эксперт-техник (ФИО)",
                  "type": "string",
                  "description": "Экспертное заключение. Эксперт-техник (ФИО)"
               },
               "first_reg_date": {
                  "title": "Дата первой регистрации ТС",
                  "type": "string",
                  "description": "Дата первой регистрации ТС"
               },
               "gibdd_certificate_date": {
                  "title": "Дата справки ГИБДД",
                  "type": "string",
                  "description": "Дата справки ГИБДД"
               },
               "gibdd_certificate_number": {
                  "title": "Номер справки ГИБДД",
                  "type": "string",
                  "description": "Номер справки ГИБДД"
               },
               "grz": {
                  "title": "Регистрационный знак ТС",
                  "type": "string",
                  "description": "Регистрационный знак ТС"
               },
               "inspection_act_number": {
                  "title": "Акт осмотра, №",
                  "type": "string",
                  "description": "Акт осмотра, №"
               },
               "inspection_address": {
                  "title": "Адрес проведения осмотра",
                  "type": "string",
                  "description": "Адрес проведения осмотра"
               },
               "inspection_end": {
                  "title": "Конец осмотра",
                  "type": "string",
                  "description": "Конец осмотра"
               },
               "inspection_request_number": {
                  "title": "Заявка на осмотр, №",
                  "type": "string",
                  "description": "Заявка на осмотр, №"
               },
               "inspection_start": {
                  "title": "Начало осмотра",
                  "type": "string",
                  "description": "Начало осмотра"
               },
               "insurance_case_date": {
                  "title": "Дата заявления страхового случая",
                  "type": "string",
                  "description": "Дата заявления страхового случая"
               },
               "insurance_policy_month_count": {
                  "title": "Кол-во месяцев действия полиса",
                  "type": "integer",
                  "description": "Кол-во месяцев действия полиса"
               },
               "insurance_policy_number": {
                  "title": "Номер полиса",
                  "type": "string",
                  "description": "Номер полиса"
               },
               "insurance_policy_start": {
                  "title": "Начало действия полиса",
                  "type": "string",
                  "description": "Начало действия полиса"
               },
               "insurer_address": {
                  "title": "Страховщик: Адрес",
                  "type": "string",
                  "description": "Страховщик: Адрес"
               },
               "insurer_area": {
                  "title": "Страховщик: Область",
                  "type": "string",
                  "description": "Страховщик: Область"
               },
               "insurer_city": {
                  "title": "Страховщик: Город",
                  "type": "string",
                  "description": "Страховщик: Город"
               },
               "insurer_company": {
                  "title": "Страховщик, компания",
                  "type": "string",
                  "description": "Страховщик, компания"
               },
               "insurer_index": {
                  "title": "Страховщик: Индекс",
                  "type": "string",
                  "description": "Страховщик: Индекс"
               },
               "insurer_name": {
                  "title": "Страховщик, наименование",
                  "type": "string",
                  "description": "Страховщик, наименование"
               },
               "is_calc_by_analog": {
                  "title": "Признак расчёта по аналогу",
                  "type": "boolean",
                  "description": "Признак расчёта по аналогу"
               },
               "is_recognized_to_write_off": {
                  "title": "Признать к списанию, стоимость восстановления превысило допустимый процент от стоимости рыночной цены ТС",
                  "type": "boolean",
                  "description": "Признать к списанию, стоимость восстановления превысило допустимый процент от стоимости рыночной цены ТС."
               },
               "issue_year": {
                  "title": "Год выпуска",
                  "type": "integer",
                  "description": "Год выпуска"
               },
               "mark": {
                  "title": "Производитель",
                  "type": "string",
                  "description": "Марка ТС для документации"
               },
               "millage": {
                  "title": "Пробег",
                  "type": "integer",
                  "description": "Пробег"
               },
               "model": {
                  "title": "Модель",
                  "type": "string",
                  "description": "Модель ТС для документации"
               },
               "modification": {
                  "title": "Модификация ТС для документации",
                  "type": "string",
                  "description": "Модификация ТС для документации"
               },
               "owner_address": {
                  "title": "Собственник: Адрес",
                  "type": "string",
                  "description": "Собственник: Адрес"
               },
               "owner_authority_info": {
                  "title": "Собственник: орган выдавший документ",
                  "type": "string",
                  "description": "Собственник: орган выдавший документ"
               },
               "owner_birthday": {
                  "title": "Собственник: день рождения",
                  "type": "string",
                  "description": "Собственник: день рождения"
               },
               "owner_city": {
                  "title": "Собственник: Город",
                  "type": "string",
                  "description": "Собственник: Город"
               },
               "owner_doc_number": {
                  "title": "Собственник: номер документа",
                  "type": "string",
                  "description": "Собственник: номер документа"
               },
               "owner_doc_series": {
                  "title": "Собственник: серия документа",
                  "type": "string",
                  "description": "Собственник: серия документа"
               },
               "owner_doc_type": {
                  "title": "Собственник: тип документа",
                  "type": "string",
                  "description": "Собственник: тип документа"
               },
               "owner_email": {
                  "title": "Собственник: Электронная почта",
                  "type": "string",
                  "description": "Собственник: Электронная почта"
               },
               "owner_fio": {
                  "title": "Собственник: ФИО",
                  "type": "string",
                  "description": "Собственник: ФИО"
               },
               "owner_index": {
                  "title": "Собственник: Индекс",
                  "type": "string",
                  "description": "Собственник: Индекс"
               },
               "owner_phone": {
                  "title": "Собственник: Телефон",
                  "type": "string",
                  "description": "Собственник: Телефон"
               },
               "painting_calc_method": {
                  "title": "",
                  "type": "string",
                  "description": "PaintingCalcMethod - способ расчета окрасочных работ",
                  "$ref": "#/components/schemas/PaintingCalcMethod"
               },
               "price_one_norm_hour": {
                  "type": "number",
                  "description": "PriceOneNormHour - Значение цены нормо-часа 1, введенное экспертом"
               },
               "price_region": {
                  "title": "Регион цен",
                  "type": "string",
                  "description": "Регион цен"
               },
               "price_two_norm_hour": {
                  "type": "number",
                  "description": "PriceTwoNormHour - Значение цены нормо-часа 2, введенное экспертом"
               },
               "producer_country": {
                  "title": "Страна-производитель ТС",
                  "type": "string",
                  "description": "Страна-производитель ТС"
               },
               "pts": {
                  "title": "Паспорт транспортного средства",
                  "type": "string",
                  "description": "Паспорт транспортного средства"
               },
               "sts": {
                  "title": "Свидетельство о регистрации ТС",
                  "type": "string",
                  "description": "Свидетельство о регистрации ТС"
               },
               "tires_mark": {
                  "title": "Марка шин",
                  "type": "string",
                  "description": "Марка шин"
               },
               "vehicle_doc_number": {
                  "type": "string",
                  "description": "VehicleDocNumber - номер документа о ТС"
               },
               "vehicle_doc_type": {
                  "type": "string",
                  "description": "VehicleDocType - тип документа о ТС (СТС/ПТС)"
               },
               "vehicle_type_in_doc": {
                  "title": "Тип транспортного средства ТС в документации, может не совпадать с типом ТС по которому производится расчёт",
                  "type": "string",
                  "description": "Тип транспортного средства ТС в документации, может не совпадать с типом ТС по которому производится расчёт"
               },
               "vehicle_type_insurance": {
                  "title": "Тип ТС в страховании",
                  "type": "string",
                  "description": "Тип ТС в страховании"
               },
               "victim_insurance_policy_number": {
                  "title": "Номер полиса потерпевшего",
                  "type": "string",
                  "description": "Номер полиса Потерпевшего"
               },
               "victim_insurer_area": {
                  "title": "Страховщик: Область потерпевшего",
                  "type": "string",
                  "description": "Страховщик: Область (потерпевший)"
               },
               "victim_insurer_city": {
                  "title": "Страховщик: Город потерпевшего",
                  "type": "string",
                  "description": "Страховщик: Город (потерпевший)"
               },
               "victim_insurer_company": {
                  "title": "Страховщик, компания потерпевшего",
                  "type": "string",
                  "description": "Страховщик, компания (потерпевший)"
               },
               "victim_insurer_index": {
                  "title": "Страховщик: Индекс потерпевшего",
                  "type": "string",
                  "description": "Страховщик: Индекс (потерпевший)"
               },
               "vin": {
                  "title": "Идентификационный номер ТС",
                  "type": "string",
                  "description": "Идентификационный номер ТС"
               }
            },
            "description": "AbCaseExtendedCardView - карточка дела, расширенная информация, объект для отображения на фронте"
         },
         "AbCaseQuery": {
            "type": "object",
            "properties": {
               "all_clients": {
                  "type": "boolean",
                  "description": "Показывать ли все дела"
               },
               "assigned_client_uid": {
                  "type": "string",
                  "description": "Идентификатор клиента у которого в настоящий момент находится дело"
               },
               "assigned_user_uid": {
                  "type": "string",
                  "description": "Идентификатор пользователя, который в настоящий момент оперирует с делом"
               },
               "calc_creator_info": {
                  "type": "boolean",
                  "description": "Отдавать ли в ответе информацию о создателе объектов"
               },
               "calc_total": {
                  "type": "boolean",
                  "description": "Отдавать ли в ответе кол-во найденных элементов"
               },
               "custom_uid": {
                  "type": "string",
                  "description": "Номер дела"
               },
               "customer_client_uid": {
                  "type": "string",
                  "description": "Идентификатор клиента-заказчика"
               },
               "end_date": {
                  "type": "string",
                  "description": "Дата окончания выборки"
               },
               "fields": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "description": "Перечень полей, которые нужно отдавать в ответе"
               },
               "grz": {
                  "type": "string",
                  "description": "Регистрационный знак ТС"
               },
               "must_assigned_client": {
                  "type": "boolean",
                  "description": "Клиент у которого в настоящий момент находится дело должен/не должен равняться клиенту текущего пользователя"
               },
               "must_assigned_user": {
                  "type": "boolean",
                  "description": "Пользователь у которого в настоящий момент находится дело должен/не должен равняться текущему пользователю"
               },
               "must_owner_client": {
                  "type": "boolean",
                  "description": "Клиент-владелец должен/не должен равняться клиенту текущего пользователя"
               },
               "order": {
                  "title": "",
                  "type": "object",
                  "description": "Параметры сортировки выдачи из БД",
                  "$ref": "#/components/schemas/SortingOrder"
               },
               "owner_client_uid": {
                  "type": "string",
                  "description": "Идентификатор клиента-владельца"
               },
               "pagination": {
                  "title": "",
                  "type": "object",
                  "description": "Параметры постраничной выдачи мз БД",
                  "$ref": "#/components/schemas/Pagination"
               },
               "search": {
                  "type": "string",
                  "description": "Строка поиска дел"
               },
               "start_date": {
                  "type": "string",
                  "description": "Дата начала выборки"
               },
               "state": {
                  "title": "",
                  "type": "string",
                  "description": "Состояние дела",
                  "$ref": "#/components/schemas/CaseState"
               },
               "state_phase": {
                  "title": "",
                  "type": "string",
                  "description": "Фаза дела",
                  "$ref": "#/components/schemas/CasePhase"
               },
               "vin": {
                  "type": "string",
                  "description": "Идентификационный номер ТС"
               },
               "with_deleted": {
                  "type": "boolean",
                  "description": "WithDeleted - с удаленными"
               }
            },
            "description": "AbCaseQuery - объект для запроса дел"
         },
         "AbCaseShortView": {
            "required": [
               "uid"
            ],
            "type": "object",
            "properties": {
               "assigned_client_code": {
                  "type": "string",
                  "description": "AssignedClientCode - код клиента (оперирует с делом)"
               },
               "assigned_client_name": {
                  "type": "string",
                  "description": "AssignedClientName - наименование клиента (оперирует с делом)"
               },
               "assigned_client_uid": {
                  "title": "Идентификатор клиента, который в настоящий момент оперирует с делом",
                  "type": "string"
               },
               "assigned_user_login": {
                  "title": "Логин пользователя у которого дело находится в работе",
                  "type": "string"
               },
               "assigned_user_name": {
                  "title": "Фио пользователя у которого дело находится в работе",
                  "type": "string"
               },
               "available_operations": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/AvailableOperations"
               },
               "customer_code": {
                  "type": "string",
                  "description": "CustomerCode - код клиента (заказчик дела)"
               },
               "customer_name": {
                  "type": "string",
                  "description": "CustomerName - наименование клиента (заказчик дела)"
               },
               "grz": {
                  "title": "ГРЗ",
                  "type": "string",
                  "description": "Государственный регистрационный знак"
               },
               "is_available": {
                  "title": "Доступность на редактирование",
                  "type": "boolean",
                  "description": "Доступность дела на редактирование"
               },
               "last_calc_state": {
                  "title": "Статус текущей (последней калькуляции)",
                  "type": "string",
                  "description": "статус последней калькуляции для краткого вида"
               },
               "name": {
                  "title": "Наименование",
                  "type": "string"
               },
               "number": {
                  "title": "Номер дела",
                  "type": "string"
               },
               "owner_code": {
                  "type": "string",
                  "description": "OwnerCode - код клиента (владелец дела)"
               },
               "owner_name": {
                  "type": "string",
                  "description": "OwnerName - наименование клиента (владелец дела)"
               },
               "type": {
                  "title": "Тип",
                  "type": "string",
                  "description": "Тип дела",
                  "$ref": "#/components/schemas/CaseType"
               },
               "uid": {
                  "title": "Уникальный идентификатор кейса",
                  "type": "string"
               },
               "vehicle_id": {
                  "title": "ИД ТС",
                  "type": "string",
                  "description": "Идентификатор ТС"
               },
               "vehicle_id_type": {
                  "title": "Тип ИД ТС",
                  "type": "string",
                  "description": "Тип идентификатора ТС",
                  "$ref": "#/components/schemas/VehicleIdType"
               }
            },
            "description": "AbCaseShortView - объект для краткого представления \"дела\", объект для отображения на фронте"
         },
         "AbCaseView": {
            "required": [
               "uid"
            ],
            "type": "object",
            "properties": {
               "assigned_client_code": {
                  "type": "string",
                  "description": "AssignedClientCode - код клиента (оперирует с делом)"
               },
               "assigned_client_name": {
                  "type": "string",
                  "description": "AssignedClientName - наименование клиента (оперирует с делом)"
               },
               "assigned_client_uid": {
                  "title": "Идентификатор клиента, который в настоящий момент оперирует с делом",
                  "type": "string"
               },
               "assigned_group_uid": {
                  "title": "Идентификатор группы, которой видно дело в рамках клиента, в настоящий момент оперирующего с делом",
                  "type": "string"
               },
               "assigned_user_login": {
                  "type": "string",
                  "description": "AssignedUserLogin - логин пользователя, который сейчас оперирует с делом"
               },
               "assigned_user_name": {
                  "type": "string",
                  "description": "AssignedUserName - фио пользователя, который сейчас оперирует с делом"
               },
               "assigned_user_uid": {
                  "title": "Идентификатор пользователя, который в настоящий момент оперирует с делом",
                  "type": "string"
               },
               "avail_cause": {
                  "title": "Причина недоступности дела",
                  "type": "string"
               },
               "available_operations": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/AvailableOperations"
               },
               "before_uid": {
                  "title": "Предшествующее дело по этому же страховому случаю",
                  "type": "string"
               },
               "calc_ins": {
                  "title": "Перечень повреждений",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/CalcIn"
                  }
               },
               "created_at": {
                  "title": "Создано",
                  "type": "string",
                  "description": "Время создания"
               },
               "created_by": {
                  "title": "Идентификатор создателя",
                  "type": "string"
               },
               "created_by_client": {
                  "type": "string"
               },
               "creator": {
                  "title": "Данные о создателе",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/AbCaseCreatorView"
               },
               "customer_code": {
                  "type": "string",
                  "description": "CustomerCode - код клиента (заказчик дела)"
               },
               "customer_name": {
                  "type": "string",
                  "description": "CustomerName - наименование клиента (заказчик дела)"
               },
               "customer_uid": {
                  "title": "Идентификатор заказчика",
                  "type": "string"
               },
               "defaults": {
                  "title": "Список дефолтов дела",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/AbCaseDefaults"
               },
               "deleted": {
                  "title": "Флаг того, что объект удален",
                  "type": "boolean"
               },
               "extended_card": {
                  "title": "Расширенная карточка дела",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/AbCaseExtendedCardView"
               },
               "grz": {
                  "title": "ГРЗ",
                  "type": "string",
                  "description": "Государственный регистрационный знак"
               },
               "impacts": {
                  "title": "Ремонтные воздействия",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/SourceImpactView"
                  }
               },
               "is_available": {
                  "title": "Признак доступности дела для данного пользователя",
                  "type": "boolean"
               },
               "last_calc": {
                  "title": "Последняя (текущая калькуляция)",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/CalcDTO"
               },
               "last_calc_state": {
                  "title": "Статус текущей (последней калькуляции)",
                  "type": "string",
                  "description": "статус последней калькуляции для краткого вида"
               },
               "meta_data": {
                  "title": "Некие дополнительные данные",
                  "type": "object"
               },
               "name": {
                  "title": "Наименование",
                  "type": "string"
               },
               "number": {
                  "title": "Номер дела",
                  "type": "string"
               },
               "order_billing_type": {
                  "title": "Тип билингования дел",
                  "type": "string",
                  "description": "",
                  "$ref": "#/components/schemas/OrderBillingType"
               },
               "owner_code": {
                  "type": "string",
                  "description": "OwnerCode - код клиента (владелец дела)"
               },
               "owner_group_uid": {
                  "title": "Идентификатор группы, которой видно дело в рамках клиента-владельца",
                  "type": "string"
               },
               "owner_name": {
                  "type": "string",
                  "description": "OwnerName - наименование клиента (владелец дела)"
               },
               "owner_uid": {
                  "title": "Идентификатор клиента, которому принадлежит дело",
                  "type": "string"
               },
               "phase": {
                  "title": "Фаза состояния дела",
                  "type": "string",
                  "description": "",
                  "$ref": "#/components/schemas/CasePhase"
               },
               "recipient_company": {
                  "title": "Компания получатель",
                  "type": "string"
               },
               "state": {
                  "title": "Состояние дела",
                  "type": "string",
                  "description": "",
                  "$ref": "#/components/schemas/CaseState"
               },
               "tags": {
                  "title": "Метки (тэги)",
                  "type": "string"
               },
               "type": {
                  "title": "Тип",
                  "type": "string",
                  "description": "Тип дела",
                  "$ref": "#/components/schemas/CaseType"
               },
               "uid": {
                  "title": "Уникальный идентификатор кейса",
                  "type": "string"
               },
               "updated_at": {
                  "title": "Время обновления",
                  "type": "string"
               },
               "vehicle_age": {
                  "title": "Возраст автомобиля",
                  "type": "number"
               },
               "vehicle_id": {
                  "title": "ИД ТС",
                  "type": "string",
                  "description": "Идентификатор ТС"
               },
               "vehicle_id_type": {
                  "title": "Тип ИД ТС",
                  "type": "string",
                  "description": "Тип идентификатора ТС",
                  "$ref": "#/components/schemas/VehicleIdType"
               },
               "wearout_original": {
                  "type": "number",
                  "description": "Износ в деле по умолчанию"
               }
            },
            "description": "AbCaseView - основной объект \"дела\", объект для отображения на фронте"
         },
         "AbManagerError": {
            "type": "object",
            "properties": {
               "message": {
                  "type": "string"
               },
               "type": {
                  "type": "string"
               }
            },
            "description": "AbManagerError - часть ответа от менеджера, содержащая детали ошибки"
         },
         "Attachment": {
            "type": "object",
            "properties": {
               "case_uid": {
                  "type": "string",
                  "description": "CaseUid - идентификатор дела"
               },
               "client_uid": {
                  "title": "идентификатор клиента",
                  "type": "string",
                  "description": "ClientUid - идентификатор клиента"
               },
               "comments": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "description": "comments - комментарии"
               },
               "content_type": {
                  "title": "тип содержимого",
                  "type": "string",
                  "description": "ContentType - тип содержимого"
               },
               "content_uid": {
                  "title": "идентификатор контента вложения в хранилище",
                  "type": "string",
                  "description": "ContentUid - идентификатор контента вложения в хранилище"
               },
               "created_at": {
                  "title": "дата создания",
                  "type": "string",
                  "description": "CreatedAt - дата создания"
               },
               "created_by": {
                  "title": "кем создано",
                  "type": "string",
                  "description": "CreatedBy - кем создано"
               },
               "deleted": {
                  "title": "признак удаленной записи",
                  "type": "boolean",
                  "description": "Deleted - признак удаленной записи"
               },
               "fname": {
                  "title": "имя исходного файла",
                  "type": "string",
                  "description": "Fname - имя исходного файла"
               },
               "group_uid": {
                  "title": "идентификатор группы",
                  "type": "string",
                  "description": "GroupUid - идентификатор группы"
               },
               "name": {
                  "title": "наименование",
                  "type": "string",
                  "description": "Name - наименование"
               },
               "stage_uid": {
                  "type": "string",
                  "description": "StageUid - идентификатор стадии дела"
               },
               "storage_uid": {
                  "title": "идентификатор хранилища",
                  "type": "string",
                  "description": "StorageUid - идентификатор хранилища"
               },
               "tags": {
                  "title": "метки (тэги)",
                  "type": "string",
                  "description": "Tags - метки (тэги)"
               },
               "thumbnail": {
                  "type": "string",
                  "description": "Thumbnail - миниатюра (в base64)"
               },
               "type": {
                  "title": "тип",
                  "type": "string",
                  "description": "Type - тип"
               },
               "uid": {
                  "title": "идентификатор записи",
                  "type": "string",
                  "description": "Uid - идентификатор записи"
               },
               "updated_at": {
                  "title": "дата обновления",
                  "type": "string",
                  "description": "UpdatedAt - дата обновления"
               }
            },
            "description": "Attachment - Описатель вложения,"
         },
         "AvailableCalc": {
            "type": "object",
            "properties": {
               "calc_id": {
                  "type": "integer",
                  "description": "CalcId - идентификатор калькуляции"
               },
               "case_uid": {
                  "type": "string",
                  "description": "CaseUid - идентификатор дела"
               },
               "end_date": {
                  "type": "string",
                  "description": "EndDate - дата закрытия калькуляции"
               },
               "start_date": {
                  "type": "string",
                  "description": "StartDate - дата создания калькуляции"
               },
               "state": {
                  "type": "string",
                  "description": "State - статус калькуляции"
               },
               "total_materials_cost": {
                  "type": "number",
                  "description": "TotalMaterialsCost - общая стоимость материалов"
               },
               "total_painting_cost": {
                  "type": "number",
                  "description": "TotalPaintingCost - общая стоимость окрасочных работ"
               },
               "total_repair_price": {
                  "type": "number",
                  "description": "TotalRepairPrice - стоимость восстановительного ремонта"
               },
               "total_repair_price_with_run_out": {
                  "type": "number",
                  "description": "TotalRepairPriceWithRunOut - затраты на восстановительный ремонт(с учетом износа)"
               },
               "total_spare_price": {
                  "type": "number",
                  "description": "TotalSparePrice - общая стоимость всех деталей"
               },
               "total_spare_price_with_run_out": {
                  "type": "number",
                  "description": "TotalSparePriceWithRunOut - общая стоимость всех деталей с учетом износа"
               },
               "total_work_without_painting_cost": {
                  "type": "number",
                  "description": "TotalWorkWithoutPaintingCost - общая стоимость работ за исключением окрасочных работ"
               }
            },
            "description": "AvailableCalc - доступная калькуляция"
         },
         "AvailableCalcResult": {
            "type": "object",
            "properties": {
               "items": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/AvailableCalc"
                  }
               }
            },
            "description": "AvailableCalcResult - результат получения списка доступных калькуляций"
         },
         "AvailableOperations": {
            "type": "object",
            "properties": {
               "is_allow_case_edit": {
                  "type": "boolean"
               },
               "is_allow_new_calc": {
                  "type": "boolean"
               },
               "is_operation_accept_case": {
                  "type": "boolean"
               },
               "is_operation_deny_case": {
                  "type": "boolean"
               },
               "is_operation_open_case": {
                  "type": "boolean"
               },
               "is_operation_return_case": {
                  "type": "boolean"
               },
               "is_operation_send_case": {
                  "type": "boolean"
               },
               "is_operation_send_case_to_customer": {
                  "type": "boolean"
               },
               "is_operation_show_report": {
                  "type": "boolean"
               },
               "is_operation_took_case": {
                  "type": "boolean"
               }
            },
            "description": "AvailableOperations - доступные операции"
         },
         "CalcDTO": {
            "type": "object",
            "properties": {
               "battery_age": {
                  "title": "Возраст АКБ",
                  "type": "number",
                  "description": "BatteryAge - Возраст АКБ"
               },
               "battery_standard_life": {
                  "title": "Нормативный срок службы АКБ",
                  "type": "number",
                  "description": "BatteryStandardLife - Нормативный срок службы АКБ"
               },
               "calc_assignee_uid": {
                  "title": "Исполнитель расчета (текущий клиент при выполнении расчета)",
                  "type": "string",
                  "description": "CalcAssigneeUid - Исполнитель расчета (текущий клиент при выполнении расчета)"
               },
               "calc_base_version_id": {
                  "title": "Идентификатор нормативной базы",
                  "type": "integer",
                  "description": "CalcBaseVersionId - Идентификатор нормативной базы, в которой выполнен расчет"
               },
               "calc_customer_uid": {
                  "title": "Заказчик расчета (берется из case)",
                  "type": "string",
                  "description": "CalcCustomerUid - Заказчик расчета (берется из case)"
               },
               "calc_out": {
                  "title": "Результат расчета",
                  "type": "object",
                  "description": "CalcOut - Результат расчета"
               },
               "calc_owner_uid": {
                  "title": "Владелец расчета (из дела)",
                  "type": "string",
                  "description": "CalcOwnerUid - Владелец расчета (из дела)"
               },
               "calc_time": {
                  "title": "Время расчета",
                  "type": "string",
                  "description": "CalcTime - Время расчета",
                  "format": "date-time"
               },
               "calc_user_uid": {
                  "title": "UID пользователя",
                  "type": "string",
                  "description": "CalcUserUid - UID пользователя, сформировавшего расчет"
               },
               "case_card": {
                  "title": "Карточка дела",
                  "type": "object",
                  "description": "CaseCard - Карточка дела"
               },
               "case_type": {
                  "title": "Тип дела",
                  "type": "string",
                  "description": "CaseType - Тип дела"
               },
               "case_uid": {
                  "title": "Идентикатор дела в контексте которого производился расчет",
                  "type": "string",
                  "description": "CaseUid - Идентикатор дела в контексте которого производился расчет"
               },
               "consumables_coef": {
                  "title": "Коэффициент для цен на расходники",
                  "type": "number",
                  "description": "ConsumablesCoef - Коэффициент для цен на расходники"
               },
               "create_date": {
                  "title": "Дата и время создания (нажатие на кнопку расчет = создание расчета в деле)",
                  "type": "string",
                  "description": "CreateDate - Дата и время создания (нажатие на кнопку расчет = создание расчета в деле)",
                  "format": "date-time"
               },
               "created_at": {
                  "title": "время создания записи",
                  "type": "string",
                  "description": "CreatedAt - время создания записи",
                  "format": "date-time"
               },
               "disassembly_coef": {
                  "title": "Коэффициент для работ по сборке/разборке",
                  "type": "number",
                  "description": "DisassemblyCoef - Коэффициент для работ по сборке/разборке"
               },
               "geo_zone_code": {
                  "title": "Регион для выборки цен",
                  "type": "string",
                  "description": "GeoZoneCode - Регион для выборки цен"
               },
               "id": {
                  "title": "Идентификатор калькуляции",
                  "type": "integer",
                  "description": "Id - Идентификатор калькуляции"
               },
               "inner_number": {
                  "title": "Порядковый номер в контексте дела",
                  "type": "integer",
                  "description": "InnerNumber - Порядковый номер в контексте дела, инкремент"
               },
               "is_billable": {
                  "title": "Признак того",
                  "type": "boolean",
                  "description": "IsBillable - Признак того, что данный расчет входит в состав биллинга"
               },
               "is_deleted": {
                  "title": "признак удаленной записи",
                  "type": "boolean",
                  "description": "IsDeleted - признак удаленной записи"
               },
               "is_draft": {
                  "title": "Признак того",
                  "type": "boolean",
                  "description": "IsDraft - Признак того, что калькуляция - черновик"
               },
               "is_hide_empty_additional_works": {
                  "title": "Скрывать пустые дополнительные работы в расчетах",
                  "type": "boolean",
                  "description": "IsHideEmptyAdditionalWorks - Скрывать пустые дополнительные работы в расчетах"
               },
               "is_wearout_expert_manual": {
                  "title": "Экспертная оценка износа выставлена вручную",
                  "type": "boolean",
                  "description": "IsWearoutExpertManual - Экспертная оценка износа выставлена вручную"
               },
               "is_wearout_expert_tyres_manual": {
                  "title": "Экспертная оценка износа шин выставлена вручную",
                  "type": "boolean",
                  "description": "IsWearoutExpertTyresManual - Экспертная оценка износа шин выставлена вручную"
               },
               "labor_coef": {
                  "title": "Надбавка к трудоемкости",
                  "type": "number",
                  "description": "LaborCoef - Надбавка к трудоемкости"
               },
               "material_manufacturer_id": {
                  "title": "Идентификатор производителя ЛКМ",
                  "type": "integer",
                  "description": "MaterialManufacturerId - Идентификатор производителя ЛКМ"
               },
               "material_price_ref_id": {
                  "title": "Справочник цен на материалы",
                  "type": "integer",
                  "description": "MaterialPriceRefId - Справочник цен на материалы"
               },
               "paint_type_id": {
                  "title": "Тип лакокрасочного покрытия",
                  "type": "integer",
                  "description": "PaintTypeId - Тип лакокрасочного покрытия"
               },
               "painting_calc_method_code": {
                  "title": "Способ расчета окрасочных работ",
                  "type": "string",
                  "description": "PaintingCalcMethodCode - Способ расчета окрасочных работ"
               },
               "spare_price_ref_id": {
                  "title": "Справочник цен на деталей",
                  "type": "integer",
                  "description": "SparePriceRefId - Справочник цен на деталей"
               },
               "spares_coef": {
                  "title": "Коэффициент для цен на детали",
                  "type": "number",
                  "description": "SparesCoef - Коэффициент для цен на детали"
               },
               "standard_painting_price": {
                  "title": "Стоимость покраски страндартной детали",
                  "type": "number",
                  "description": "StandardPaintingPrice - Стоимость покраски страндартной детали"
               },
               "state": {
                  "title": "Статус",
                  "type": "string",
                  "description": "State - Статус"
               },
               "total_cost": {
                  "title": "Итоговая стоимость калькуляции без учета износа",
                  "type": "number",
                  "description": "TotalCost - Итоговая стоимость калькуляции без учета износа"
               },
               "total_wearout_cost": {
                  "title": "Итоговая стоимость калькуляции с учетом износа",
                  "type": "number",
                  "description": "TotalWearoutCost - Итоговая стоимость калькуляции с учетом износа"
               },
               "tyres_age": {
                  "title": "Возраст шин",
                  "type": "number",
                  "description": "TyresAge - Возраст шин"
               },
               "tyres_tread_high": {
                  "title": "Фактическая высота протектора шин",
                  "type": "number",
                  "description": "TyresTreadHigh - Фактическая высота протектора шин"
               },
               "tyres_tread_high_min": {
                  "title": "Минимально допустимая высота протектора шин при которой допускается эксплуатация",
                  "type": "number",
                  "description": "TyresTreadHighMin - Минимально допустимая высота протектора шин при которой допускается эксплуатация"
               },
               "tyres_tread_high_new": {
                  "title": "Высота протектора новых шин",
                  "type": "number",
                  "description": "TyresTreadHighNew - Высота протектора новых шин"
               },
               "vehicle_modification_code": {
                  "title": "Модификация ТС",
                  "type": "string",
                  "description": "VehicleModificationCode - Модификация ТС, по которой производится расчет"
               },
               "wearout_expert": {
                  "title": "Экспертный износ",
                  "type": "number",
                  "description": "WearoutExpert - Экспертный износ"
               },
               "wearout_expert_battery": {
                  "title": "Экспертный износ АКБ",
                  "type": "number",
                  "description": "WearoutExpertBattery - Экспертный износ АКБ"
               },
               "wearout_expert_body": {
                  "title": "Экспертный износ кузова",
                  "type": "number",
                  "description": "WearoutExpertBody - Экспертный износ кузова"
               },
               "wearout_expert_plastic": {
                  "title": "Экспертный износ пластика",
                  "type": "number",
                  "description": "WearoutExpertPlastic - Экспертный износ пластика"
               },
               "wearout_expert_tyres": {
                  "title": "Экспертный износ шин",
                  "type": "number",
                  "description": "WearoutExpertTyres - Экспертный износ шин"
               },
               "work_price_ref_id": {
                  "title": "Справочник цен на работы",
                  "type": "integer",
                  "description": "WorkPriceRefId - Справочник цен на работы"
               }
            },
            "description": "CalcDTO - Переносимый вариант Calc, только поля, все `nullable` - используется в сценариях Insert/Update"
         },
         "CalcIn": {
            "type": "object",
            "properties": {
               "amount_manual": {
                  "title": "Назначенное экспертом количество деталей",
                  "type": "number",
                  "description": "AmountManual - Назначенное экспертом количество деталей, раз выполнения работы/комплекса. Первоначально совпадает с предусмотренным (имя в старой базе - amount)"
               },
               "amount_original": {
                  "title": "Предусмотренное количество деталей",
                  "type": "number",
                  "description": "AmountOriginal - Предусмотренное количество деталей, раз выполнения работы/комплекса. (имя в старой базе - amount_orig)"
               },
               "calc_id": {
                  "title": "Идентификатор калькуляции",
                  "type": "integer",
                  "description": "CalcId - Идентификатор калькуляции (имя в старой базе - calc_id)"
               },
               "component": {
                  "title": "Компонент",
                  "type": "object",
                  "description": "Component - Компонент (имя в старой базе - component)",
                  "$ref": "#/components/schemas/Component"
               },
               "component_id": {
                  "title": "Идентификатор компонента",
                  "type": "integer",
                  "description": "ComponentId - Идентификатор компонента (имя в старой базе - det_kod_id)"
               },
               "id": {
                  "title": "Уникальный идентификатор",
                  "type": "integer",
                  "description": "Id - Уникальный идентификатор (имя в старой базе - id0)"
               },
               "is_deleted": {
                  "title": "признак удаленной записи",
                  "type": "boolean",
                  "description": "IsDeleted - признак удаленной записи"
               },
               "is_extra": {
                  "title": "Признак того",
                  "type": "boolean",
                  "description": "IsExtra - Признак того, что сущность обрабатывается по схеме extra"
               },
               "is_nsp": {
                  "title": "Признак НСП",
                  "type": "boolean",
                  "description": "IsNsp - Признак НСП"
               },
               "labor_number": {
                  "title": "Номер работы по справочнику трудоемкостей",
                  "type": "string",
                  "description": "LaborNumber - Номер работы по справочнику трудоемкостей (имя в старой базе - worknum)"
               },
               "line_type_id": {
                  "title": "Тип строки",
                  "type": "integer",
                  "description": "LineTypeId - Тип строки (имя в старой базе - typeline)"
               },
               "material_id": {
                  "title": "Идентификатор материала",
                  "type": "integer",
                  "description": "MaterialId - Идентификатор материала (имя в старой базе - det_kod_id)"
               },
               "material_name_custom": {
                  "title": "Кастомизированное название материала",
                  "type": "string",
                  "description": "MaterialNameCustom - Кастомизированное название материала"
               },
               "norm": {
                  "title": "Норматив трудоемкости для работы или расхода для материала",
                  "type": "number",
                  "description": "Norm - Норматив трудоемкости для работы или расхода для материала (имя в старой базе - norma)"
               },
               "nsp_impact_group_id": {
                  "title": "Группа рем. воздействия для НСП",
                  "type": "integer",
                  "description": "NspImpactGroupId - Группа рем. воздействия для НСП"
               },
               "painting_area": {
                  "title": "Площадь окраски детали",
                  "type": "number",
                  "description": "PaintingArea - Площадь окраски детали (имя в старой базе - paint_s)"
               },
               "price": {
                  "title": "Стоимость детали; стоимость нормо-часа для работы/комплексаж стоимость единицы материала",
                  "type": "number",
                  "description": "Price - Стоимость детали; стоимость нормо-часа для работы/комплексаж стоимость единицы материала (имя в старой базе - price)"
               },
               "spare": {
                  "title": "Деталь",
                  "type": "object",
                  "description": "Spare - Деталь (имя в старой базе - spare)",
                  "$ref": "#/components/schemas/Spare"
               },
               "spare_code_custom": {
                  "title": "Кастомизированный код детали или запчасти",
                  "type": "string",
                  "description": "SpareCodeCustom - Кастомизированный код детали или запчасти (имя в старой базе - det_sp_nom)"
               },
               "spare_id": {
                  "title": "Идентификатор запчасти",
                  "type": "integer",
                  "description": "SpareId - Идентификатор запчасти (имя в старой базе - det_sp_id)"
               },
               "spare_name_custom": {
                  "title": "Кастомизированное название детали или запчасти",
                  "type": "string",
                  "description": "SpareNameCustom - Кастомизированное название детали или запчасти (имя в старой базе - det_name)"
               },
               "surface_condition_id": {
                  "title": "Идентификатор состояния обрабатываемой поверхности",
                  "type": "integer",
                  "description": "SurfaceConditionId - Идентификатор состояния обрабатываемой поверхности (имя в старой базе - paint_type)"
               },
               "wearout": {
                  "title": "Износ детали",
                  "type": "number",
                  "description": "Wearout - Износ детали (имя в старой базе - iznos)"
               },
               "work": {
                  "title": "Работа",
                  "type": "object",
                  "description": "Work - Работа (имя в старой базе - work)",
                  "$ref": "#/components/schemas/Work"
               },
               "work_id": {
                  "title": "Идентификатор работы",
                  "type": "integer",
                  "description": "WorkId - Идентификатор работы (имя в старой базе - w_id)"
               },
               "work_name_custom": {
                  "title": "Кастомизированное название работы",
                  "type": "string",
                  "description": "WorkNameCustom - Кастомизированное название работы"
               },
               "work_type_id": {
                  "title": "Идентификатор типа работы",
                  "type": "integer",
                  "description": "WorkTypeId - Идентификатор типа работы (имя в старой базе - teh_grup)"
               }
            },
            "description": "CalcIn - Назначенные рем."
         },
         "CalcState": {
            "enum": [
               "DRAFT",
               "COMPLETE"
            ],
            "type": "string"
         },
         "CalculationResult": {
            "type": "object",
            "properties": {
               "Controls": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlList"
               },
               "DictionariesInfo": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/DictionaryInfoSet"
               },
               "Inspection": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/InspectionReport"
               },
               "Materials": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/MaterialsResult"
                  }
               },
               "Spares": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/SparesResult"
                  }
               },
               "Summary": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/SummarizedData"
               },
               "TotalRunOut": {
                  "type": "number"
               },
               "TotalSparePriceWithDiscount": {
                  "type": "number"
               },
               "TotalSparePriceWithDiscountAndRunOut": {
                  "type": "number"
               },
               "TotalWorksPrice": {
                  "type": "number"
               },
               "Works": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/WorksResult"
                  }
               },
               "error": {
                  "title": "Ошибка при выполнении калькуляции",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/RestError"
               },
               "total_spare_price": {
                  "title": "Общая стоимость деталей",
                  "type": "number"
               },
               "total_spare_price_with_run_out": {
                  "title": "Общая стоимость деталей  с учетом износа",
                  "type": "number"
               },
               "warn": {
                  "title": "Предупреждения при выполнении калькуляции",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/RestError"
               }
            },
            "description": "CalculationResult - структура для представления результатов калькуляции"
         },
         "CasePhase": {
            "enum": [
               "SENT",
               "ACCEPTED",
               "PROCESSING",
               "REJECTED",
               ""
            ],
            "type": "string"
         },
         "CaseState": {
            "enum": [
               "CREATING",
               "INSPECTION_EXPERT",
               "CALCULATION_EXPERT",
               "INSPECTION_SERVICE",
               "CALCULATION_SERVICE",
               "DECISION_MAKING",
               "REPAIR",
               "COMPLETED",
               ""
            ],
            "type": "string"
         },
         "CaseType": {
            "enum": [
               "KASKO",
               "OSAGO",
               ""
            ],
            "type": "string"
         },
         "Component": {
            "type": "object",
            "properties": {
               "code": {
                  "title": "Уникальный мнемонический код",
                  "type": "string",
                  "description": "Code - Уникальный мнемонический код (имя в старой базе - nom)"
               },
               "component_group_code": {
                  "title": "Группа компонентов",
                  "type": "string",
                  "description": "ComponentGroupCode - Группа компонентов (имя в старой базе - gr)"
               },
               "id": {
                  "title": "Уникальный идентификатор",
                  "type": "integer",
                  "description": "Id - Уникальный идентификатор (имя в старой базе - id)"
               },
               "is_deleted": {
                  "title": "признак удаленной записи",
                  "type": "boolean",
                  "description": "IsDeleted - признак удаленной записи"
               },
               "is_detachable": {
                  "title": "Признак съемной детали",
                  "type": "boolean",
                  "description": "IsDetachable - Признак съемной детали (имя в старой базе - detach)"
               },
               "is_pseudo": {
                  "title": "Признак псевдо-компонент",
                  "type": "boolean",
                  "description": "IsPseudo - Признак псевдо-компонент, используемый только для увязки логики, реальных деталей при этом не назначается, не закупается (имя в старой базе - fict)"
               },
               "name": {
                  "title": "Наименование",
                  "type": "string",
                  "description": "Name - Наименование (имя в старой базе - name)"
               },
               "spare_group_id": {
                  "title": "ссылка на 'Группа деталей для оказания ремонтного воздействия'",
                  "type": "integer",
                  "description": "SpareGroupId - ссылка на `Группа деталей для оказания ремонтного воздействия` (имя в старой базе - body)"
               }
            },
            "description": "Component - Компонент (бывший SNOMER) имя в БД: norm.component исходная (legacy) таблица: autobase_norm.snomer"
         },
         "ComponentImpact": {
            "type": "object",
            "properties": {
               "is_nsp": {
                  "title": "Признак нестандартной позизции",
                  "type": "boolean"
               },
               "uid": {
                  "title": "UID рем. воздействия",
                  "type": "string"
               },
               "work_code": {
                  "title": "Код работы",
                  "type": "string"
               },
               "work_comment": {
                  "title": "Комментарий к работе",
                  "type": "string"
               },
               "work_is_complex": {
                  "title": "Признак комплексной работы",
                  "type": "boolean"
               },
               "work_name": {
                  "title": "Название работы",
                  "type": "string"
               }
            },
            "description": "ComponentImpact - объект для представления рем."
         },
         "ComponentImpactsView": {
            "type": "object",
            "properties": {
               "component": {
                  "title": "Описание компонента",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ImpactComponent"
               },
               "has_variants": {
                  "title": "Компонент имеет несколько деталей",
                  "type": "boolean"
               },
               "spares": {
                  "title": "Детали компонента",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ImpactSpare"
                  }
               }
            },
            "description": "ComponentImpactsView - объект для представления рем."
         },
         "ComponentSpare": {
            "type": "object",
            "properties": {
               "code": {
                  "title": "Код запчасти",
                  "type": "string"
               },
               "id": {
                  "title": "ID запчасти",
                  "type": "integer"
               },
               "impacts": {
                  "title": "Список рем. воздействий",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ComponentImpact"
                  }
               },
               "is_nsp": {
                  "title": "Признак нестандартной детали",
                  "type": "boolean"
               },
               "name": {
                  "title": "Название запчасти",
                  "type": "string"
               }
            },
            "description": "ComponentSpare - объект для представления запчасти"
         },
         "ComponentView": {
            "type": "object",
            "properties": {
               "code": {
                  "title": "Код компонента",
                  "type": "string"
               },
               "id": {
                  "title": "ID компонента",
                  "type": "string",
                  "description": "фронту отсылаем именно строку, так как у них идет искажение больших `id` из `extra`"
               },
               "is_nsp": {
                  "title": "Признак нестандартного компонента",
                  "type": "boolean"
               },
               "name": {
                  "title": "Название компонента",
                  "type": "string"
               },
               "spares": {
                  "title": "Список запчастей",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ComponentSpare"
                  }
               }
            },
            "description": "ComponentView - объект для представления выбранного компонента"
         },
         "ComponentsView": {
            "type": "object",
            "properties": {
               "components": {
                  "title": "Список компонентов",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ComponentView"
                  }
               }
            },
            "description": "ComponentsView - объект для представления списка выбранных компонентов"
         },
         "ControlEditable_float64": {
            "type": "object",
            "properties": {
               "c": {
                  "title": "Введенное пользователем значение",
                  "type": "number"
               },
               "d": {
                  "title": "Значение по умолчанию - если null значит нет норматива",
                  "type": "number"
               },
               "eos": {
                  "title": "Признак",
                  "type": "boolean"
               },
               "err": {
                  "title": "Текст ошибки",
                  "type": "string"
               },
               "l": {
                  "title": "Блокировка - режим readonly",
                  "type": "boolean"
               },
               "r": {
                  "title": "Обязательно должно быть заполнено",
                  "type": "boolean"
               }
            }
         },
         "ControlEditable_string": {
            "type": "object",
            "properties": {
               "c": {
                  "title": "Введенное пользователем значение",
                  "type": "string"
               },
               "d": {
                  "title": "Значение по умолчанию - если null значит нет норматива",
                  "type": "string"
               },
               "eos": {
                  "title": "Признак",
                  "type": "boolean"
               },
               "err": {
                  "title": "Текст ошибки",
                  "type": "string"
               },
               "l": {
                  "title": "Блокировка - режим readonly",
                  "type": "boolean"
               },
               "r": {
                  "title": "Обязательно должно быть заполнено",
                  "type": "boolean"
               }
            }
         },
         "ControlEvaluated": {
            "type": "object",
            "properties": {
               "a": {
                  "title": "Признак расчета как self + sum",
                  "type": "boolean"
               },
               "d": {
                  "title": "Полностью выключенное поле из контрольного листа",
                  "type": "boolean"
               },
               "f": {
                  "title": "Фиксированное значение - означает что просто надо использовать его",
                  "type": "number"
               },
               "s": {
                  "title": "Для итоговых сумм - список номеров GUID или DOWN",
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               }
            },
            "description": "ControlEvaluated - вычисляемое поле контрольного листа, формула сама дефолтная и содержится в коде frontend"
         },
         "ControlItem": {
            "type": "object",
            "properties": {
               "a": {
                  "title": "Признак производной автоматической записи",
                  "type": "boolean"
               },
               "add": {
                  "title": "Признак строки",
                  "type": "boolean"
               },
               "ci": {
                  "title": "ID компонента",
                  "type": "string"
               },
               "dus": {
                  "title": "Идентификаторы дублирующих записей",
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "id": {
                  "title": "Уникальный идентификатор записи",
                  "type": "string"
               },
               "l": {
                  "title": "Уровень записи в таблице",
                  "type": "integer"
               },
               "n": {
                  "title": "Название (запчасти",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEditable_string"
               },
               "nsp": {
                  "title": "Признак нестандартной позиции",
                  "type": "boolean"
               },
               "nspig": {
                  "title": "Идентификатор группы рем. воздействия в НСП",
                  "type": "integer"
               },
               "num": {
                  "title": "Номер записи в таблице контрольного листа",
                  "type": "string"
               },
               "r": {
                  "title": "Ссылка на некий внешний идентификатор",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEditable_string"
               },
               "s": {
                  "title": "Состояние записи - A - активная",
                  "type": "string",
                  "description": "",
                  "$ref": "#/components/schemas/ControlItemState"
               },
               "si": {
                  "title": "ID запчасти",
                  "type": "string"
               },
               "t": {
                  "title": "Тип записи W-работа",
                  "type": "string",
                  "description": "",
                  "$ref": "#/components/schemas/ControlItemType"
               },
               "v": {
                  "title": "Основной набор численных значений",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlValues"
               }
            },
            "description": "ControlItem - элемент контрольного листа"
         },
         "ControlItemState": {
            "type": "string"
         },
         "ControlItemType": {
            "type": "string"
         },
         "ControlItemUpdate": {
            "type": "object",
            "properties": {
               "am": {
                  "title": "Количество (деталей шт)",
                  "type": "number"
               },
               "ar": {
                  "title": "Площадь окраски или применения материала",
                  "type": "number"
               },
               "c": {
                  "title": "Коэффициент выполнения работы еще один множитель кроме нормо-часа",
                  "type": "number"
               },
               "id": {
                  "title": "Уникальный идентификатор записи",
                  "type": "string"
               },
               "n": {
                  "title": "Норма (нормо-часов для работ; норма расхода для материалов)",
                  "type": "number"
               },
               "nsp": {
                  "title": "Признак нестандартной позиции",
                  "type": "boolean"
               },
               "nspig": {
                  "title": "Идентификатор группы рем. воздействия в НСП",
                  "type": "integer"
               },
               "rn": {
                  "title": "Кастомный референсный код",
                  "type": "string",
                  "description": "тут не через omitempty, чтобы сбрасывать пустой строкой"
               },
               "s": {
                  "title": "Состояние записи - A - активная",
                  "type": "string",
                  "description": "",
                  "$ref": "#/components/schemas/ControlItemState"
               },
               "t": {
                  "title": "Название",
                  "type": "string",
                  "description": "тут не через omitempty, чтобы сбрасывать пустой строкой"
               },
               "up": {
                  "title": "Стоимость единицы",
                  "type": "number"
               },
               "w": {
                  "title": "Износ детали",
                  "type": "number"
               }
            },
            "description": "ControlItemUpdate - описатель обновления для отдельной строки контрольного списка"
         },
         "ControlItemUpdateBody": {
            "type": "object",
            "properties": {
               "updates": {
                  "title": "Список обновлений",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ControlItemUpdate"
                  }
               }
            },
            "description": "ControlItemUpdateBody - тело запроса на обновление из контрольного списка"
         },
         "ControlList": {
            "type": "object",
            "properties": {
               "CalcUid": {
                  "type": "string"
               },
               "Impacts": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ControlListImpact"
                  }
               },
               "State": {
                  "title": "",
                  "type": "string",
                  "description": "",
                  "$ref": "#/components/schemas/CalcState"
               }
            },
            "description": "ControlList - контрольный лист"
         },
         "ControlListImpact": {
            "type": "object",
            "properties": {
               "Action": {
                  "title": "",
                  "type": "object",
                  "description": "Action - внутреннее представление действий",
                  "$ref": "#/components/schemas/ImpactAction"
               },
               "ComponentCode": {
                  "type": "string",
                  "description": "ComponentCode - SNumber"
               },
               "ComponentId": {
                  "type": "integer",
                  "description": "ComponentId - внутренний числовой ид от SNumber"
               },
               "DuplicatesWorkIDs": {
                  "type": "array",
                  "items": {
                     "type": "integer"
                  },
                  "description": "DuplicatesWorkIDs - список идентификаторов работ, которые являются дубликатами этого воздействия"
               },
               "IsExtra": {
                  "type": "boolean",
                  "description": "IsExtra - признак записи extra"
               },
               "Materials": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/MaterialControl"
                  },
                  "description": "ЛКМ"
               },
               "Removed": {
                  "type": "boolean",
                  "description": "Removed - флаг был ли удален коррекцией"
               },
               "SpareCode": {
                  "type": "string",
                  "description": "SpareCode - код детали, обычно берется из source"
               },
               "SpareData": {
                  "title": "",
                  "type": "object",
                  "description": "SpareData - деталь",
                  "$ref": "#/components/schemas/SparesResult"
               },
               "SpareId": {
                  "type": "integer",
                  "description": "SpareId - код (id) детали внутренний (det_sp_id)"
               },
               "Subs": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ControlListImpact"
                  },
                  "description": "subs - вложенные воздействия (воздействия нижнего уровня)"
               },
               "Work": {
                  "title": "",
                  "type": "object",
                  "description": "Work - работа",
                  "$ref": "#/components/schemas/RepairWork"
               }
            },
            "description": "ControlListImpact - рем."
         },
         "ControlValues": {
            "type": "object",
            "properties": {
               "am": {
                  "title": "Количество (деталей шт)",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEditable_float64"
               },
               "ar": {
                  "title": "Площадь окраски или применения материала",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEditable_float64"
               },
               "b": {
                  "title": "Бонус",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEditable_float64"
               },
               "bp": {
                  "title": "Базовая стоимость без учета износа и скидок",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEvaluated"
               },
               "c": {
                  "title": "Коэффициент выполнения работы еще один множитель кроме нормо-часа",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEditable_float64"
               },
               "fp": {
                  "title": "Итоговая стоимость с учетом износа и скидок",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEvaluated"
               },
               "n": {
                  "title": "Норма (нормо-часов для работ; норма расхода для материалов)",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEditable_float64"
               },
               "u": {
                  "title": "Единица измерения ('шт.' для детали; 'н.ч.' для работы; из справочника для материала)",
                  "type": "string"
               },
               "up": {
                  "title": "Стоимость единицы",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEditable_float64"
               },
               "w": {
                  "title": "Износ детали",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlEditable_float64"
               }
            },
            "description": "ControlValues - список редактируемых основных численных значений контрольного листа"
         },
         "ControlView": {
            "type": "object",
            "properties": {
               "c20": {
                  "type": "number"
               },
               "c28": {
                  "type": "number"
               },
               "c28_use_wearout": {
                  "type": "boolean",
                  "description": "Code28UseWearout - признак использовать ли скидку с учетом 28 кода"
               },
               "c42": {
                  "type": "number"
               },
               "calc_uid": {
                  "title": "Идентификатор калькуляции",
                  "type": "string"
               },
               "case_type": {
                  "title": "Тип дела (ОСАГО",
                  "type": "string",
                  "description": "",
                  "$ref": "#/components/schemas/CaseType"
               },
               "items": {
                  "title": "Набор элементов контрольного листа",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ControlItem"
                  }
               },
               "source": {
                  "title": "Исходный набор рем. воздействий",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/ControlList"
               },
               "state": {
                  "title": "Состояние калькуляции",
                  "type": "string",
                  "description": "",
                  "$ref": "#/components/schemas/CalcState"
               }
            },
            "description": "ControlView - представление списка рем."
         },
         "DictionaryInfoSet": {
            "type": "object",
            "properties": {
               "GeneralizedDate": {
                  "type": "string",
                  "description": "GeneralizedDate - обобщенная дата"
               },
               "MaterialPriceDate": {
[...]
