{
   "openapi": "3.1.0",
   "info": {
      "title": "Внешнее API проекта Автобаза",
      "version": "1.0.10"
   },
   "servers": [
      {
         "url": "https://api.autobase.ru",
         "description": "Autobase"
      }
   ],
   "security": [
      {
         "basicAuth": []
      }
   ],
   "tags": [
      {
         "name": "export",
         "description": "Группа ендпоинтов для работы внешнего API"
      }
   ],
   "paths": {
      "/export/calc/{calc_uid}/content/get": {
         "get": {
            "tags": [
               "export"
            ],
            "summary": "Получение контента завершенной калькуляции по идентификатору калькуляции",
            "parameters": [
               {
                  "name": "calc_uid",
                  "in": "path",
                  "description": "Идентификатор калькуляции",
                  "required": false
               }
            ],
            "responses": {
               "200": {
                  "description": "Получение контента завершенной калькуляции по идентификатору калькуляции",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[CalculationResult]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case": {
         "post": {
            "tags": [
               "export"
            ],
            "summary": "Создание дела",
            "requestBody": {
               "content": {
                  "application/json;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/CreateCaseRequest"
                     }
                  },
                  "text/yaml;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/CreateCaseRequest"
                     }
                  }
               }
            },
            "responses": {
               "200": {
                  "description": "Создание дела",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[AbCaseExportView]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/find": {
         "post": {
            "tags": [
               "export"
            ],
            "summary": "Поиск дел по заданному запросу",
            "requestBody": {
               "content": {
                  "application/json;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/AbCaseQuery"
                     },
                     "examples": {
                        "Дела в моей организации": {
                           "value": {
                              "must_assigned_client": true,
                              "must_owner_client": null,
                              "pagination": {
                                 "limit": 10,
                                 "offset": 0
                              },
                              "search": "",
                              "state": null,
                              "state_phase": "PROCESSING"
                           }
                        },
                        "Дела в моей организации с дополнительной информацией по последней калькуляции": {
                           "value": {
                              "must_assigned_client": true,
                              "must_owner_client": null,
                              "pagination": {
                                 "limit": 10,
                                 "offset": 0
                              },
                              "search": "",
                              "state": null,
                              "state_phase": "PROCESSING",
                              "with_last_calc": true
                           }
                        },
                        "Назначенные на меня": {
                           "value": {
                              "must_assigned_user": true,
                              "must_owner_client": null,
                              "pagination": {
                                 "limit": 10,
                                 "offset": 0
                              },
                              "search": "",
                              "state": null,
                              "state_phase": "PROCESSING"
                           }
                        }
                     }
                  },
                  "text/yaml;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/AbCaseQuery"
                     },
                     "examples": {
                        "Дела в моей организации": {
                           "value": {
                              "must_assigned_client": true,
                              "must_owner_client": null,
                              "pagination": {
                                 "limit": 10,
                                 "offset": 0
                              },
                              "search": "",
                              "state": null,
                              "state_phase": "PROCESSING"
                           }
                        },
                        "Дела в моей организации с дополнительной информацией по последней калькуляции": {
                           "value": {
                              "must_assigned_client": true,
                              "must_owner_client": null,
                              "pagination": {
                                 "limit": 10,
                                 "offset": 0
                              },
                              "search": "",
                              "state": null,
                              "state_phase": "PROCESSING",
                              "with_last_calc": true
                           }
                        },
                        "Назначенные на меня": {
                           "value": {
                              "must_assigned_user": true,
                              "must_owner_client": null,
                              "pagination": {
                                 "limit": 10,
                                 "offset": 0
                              },
                              "search": "",
                              "state": null,
                              "state_phase": "PROCESSING"
                           }
                        }
                     }
                  }
               }
            },
            "responses": {
               "200": {
                  "description": "Поиск дел по заданному запросу",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[FindAbCaseResult[abview_AbCaseExportView]]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/history/event-types": {
         "get": {
            "tags": [
               "export"
            ],
            "summary": "Получение доступных типов событий журнала по делу",
            "responses": {
               "200": {
                  "description": "Получение доступных типов событий журнала по делу",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "allOf": [
                              {
                                 "$ref": "#/components/schemas/SuccessConvert"
                              },
                              {
                                 "type": "object",
                                 "properties": {
                                    "data": {
                                       "type": "array",
                                       "items": {
                                          "$ref": "#/components/schemas/CaseHistoryDictionary"
                                       }
                                    }
                                 }
                              }
                           ]
                        }
                     }
                  }
               },
               "403": {
                  "description": "Получение доступных типов событий журнала по делу",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/{case_uid}": {
         "put": {
            "tags": [
               "export"
            ],
            "summary": "Обновление дела",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "Идентификатор дела",
                  "required": true
               }
            ],
            "requestBody": {
               "content": {
                  "application/json;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/AbCaseExportView"
                     }
                  },
                  "text/yaml;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/AbCaseExportView"
                     }
                  }
               }
            },
            "responses": {
               "200": {
                  "description": "Обновление дела",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[AbCaseExportView]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/{case_uid}/attachment/find": {
         "post": {
            "tags": [
               "export"
            ],
            "summary": "Получение вложений по делу",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "UID дела",
                  "required": true
               }
            ],
            "requestBody": {
               "content": {
                  "application/json;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/FindAttachmentsQuery"
                     }
                  },
                  "text/yaml;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/FindAttachmentsQuery"
                     }
                  }
               }
            },
            "responses": {
               "200": {
                  "description": "Получение вложений по делу",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[FindAttachmentsResult]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/{case_uid}/attachment/upload": {
         "post": {
            "tags": [
               "export"
            ],
            "summary": "Загрузка вложения по делу",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "UID дела",
                  "required": true
               },
               {
                  "name": "attachment_name",
                  "in": "query",
                  "description": "Название вложения",
                  "required": true
               },
               {
                  "name": "attachment_type",
                  "in": "query",
                  "description": "Тип вложения. Дополнительно поддерживаются типы документов, настроенные для клиента.",
                  "required": true,
                  "schema": {
                     "$ref": "#/components/schemas/CaseAttachmentBuiltinType"
                  }
               }
            ],
            "requestBody": {
               "content": {
                  "application/x-www-form-urlencoded": {
                     "schema": {
                        "properties": {
                           "file": {}
                        }
                     }
                  }
               }
            },
            "responses": {
               "200": {
                  "description": "Загрузка вложения по делу",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[UploadAttachmentResult]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/{case_uid}/attachment/{attachment_uid}/download": {
         "get": {
            "tags": [
               "export"
            ],
            "summary": "Скачивание вложения по делу",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "UID дела",
                  "required": true
               },
               {
                  "name": "attachment_uid",
                  "in": "path",
                  "description": "UID вложения",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Скачивание вложения по делу",
                  "content": {
                     "application/octet-stream": {
                        "schema": {
                           "type": "string",
                           "format": "byte"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/{case_uid}/available-calcs": {
         "get": {
            "tags": [
               "export"
            ],
            "summary": "Получение доступных для дела калькуляций",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "UID дела",
                  "required": true
               },
               {
                  "name": "order_direction",
                  "in": "query",
                  "description": "Порядок сортировки ",
                  "required": false
               }
            ],
            "responses": {
               "200": {
                  "description": "Получение доступных для дела калькуляций",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[DefaultItemsResult[abview_AbCaseExportAvailableCalcView]]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/{case_uid}/comment": {
         "get": {
            "tags": [
               "export"
            ],
            "summary": "Получение комментариев к делу",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "UID дела",
                  "required": true
               },
               {
                  "name": "limit",
                  "in": "query",
                  "description": "Количество элементов",
                  "required": false
               },
               {
                  "name": "offset",
                  "in": "query",
                  "description": "Смещение",
                  "required": false
               }
            ],
            "responses": {
               "200": {
                  "description": "Получение комментариев к делу",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[DefaultItemsResult[abview_ExportCaseCommentView]]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         },
         "post": {
            "tags": [
               "export"
            ],
            "summary": "Добавление комментария к делу",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "UID дела",
                  "required": true
               }
            ],
            "requestBody": {
               "content": {
                  "application/json;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/ExportCaseCommentCreateQuery"
                     }
                  },
                  "text/yaml;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/ExportCaseCommentCreateQuery"
                     }
                  }
               }
            },
            "responses": {
               "200": {
                  "description": "Добавление комментария к делу",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[ExportCaseCommentView]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/{case_uid}/history": {
         "post": {
            "tags": [
               "export"
            ],
            "summary": "Получение событий журнала по делу",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "UID дела",
                  "required": true
               }
            ],
            "requestBody": {
               "content": {
                  "application/json;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/ExportCaseHistoryQuery"
                     }
                  },
                  "text/yaml;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/ExportCaseHistoryQuery"
                     }
                  }
               }
            },
            "responses": {
               "200": {
                  "description": "Получение событий журнала по делу",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[DefaultItemsResult[abview_ExportCaseHistoryView]]"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Некорректные входные данные",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Получение событий журнала по делу",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Данные не найдены",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/{case_uid}/last-calc/content/get": {
         "get": {
            "tags": [
               "export"
            ],
            "summary": "Получение контента последней завершенной калькуляции по идентификатору дела",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "Идентификатор дела",
                  "required": false
               }
            ],
            "responses": {
               "200": {
                  "description": "Получение контента последней завершенной калькуляции по идентификатору дела",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[CalculationResult]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/case/{case_uid}/send": {
         "post": {
            "tags": [
               "export"
            ],
            "summary": "Отправка дела партнёру",
            "parameters": [
               {
                  "name": "case_uid",
                  "in": "path",
                  "description": "UID дела",
                  "required": true
               }
            ],
            "requestBody": {
               "content": {
                  "application/json;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/SendCaseRequest"
                     }
                  },
                  "text/yaml;charset=utf-8": {
                     "schema": {
                        "$ref": "#/components/schemas/SendCaseRequest"
                     }
                  }
               }
            },
            "responses": {
               "200": {
                  "description": "Отправка дела партнёру",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[AbCaseActionResult]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      },
      "/export/dictionaries": {
         "get": {
            "tags": [
               "export"
            ],
            "summary": "Получение словарей",
            "parameters": [
               {
                  "name": "including",
                  "in": "query",
                  "description": "Если требуются не все, то перечень словарей через запятую (regions, material_manufacturers, paint_types)",
                  "required": false
               }
            ],
            "responses": {
               "200": {
                  "description": "Получение словарей",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/SuccessConvert[AbExportDictionaryView]"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Ошибка при выполнении запроса",
                  "content": {
                     "application/json;charset=utf-8": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorConvert"
                        }
                     }
                  }
               }
            }
         }
      }
   },
   "components": {
      "schemas": {
         "AbCaseActionResult": {
            "type": "object",
            "properties": {
               "success": {
                  "type": "boolean"
               }
            },
            "description": "AbCaseActionResult - формат ответа на action-запросы к делам"
         },
         "AbCaseDocumentsExportView": {
            "type": "object",
            "properties": {
               "pts": {
                  "title": "Значение поля ПТС",
                  "type": "string",
                  "description": "Значение поля ПТС"
               },
               "sts": {
                  "title": "Значение поля СТС",
                  "type": "string",
                  "description": "Значение поля СТС"
               }
            },
            "description": "AbCaseDocumentsExportView - документы по делу (стс и птс) для нужд внешнего API"
         },
         "AbCaseExportAvailableCalcView": {
            "type": "object",
            "properties": {
               "add_code_21_use": {
                  "type": "boolean",
                  "description": "AddCode21Use - признак использования кода 21"
               },
               "calc_id": {
                  "type": "integer",
                  "description": "CalcId - идентификатор калькуляции"
               },
               "case_uid": {
                  "type": "string",
                  "description": "CaseUid - идентификатор дела"
               },
               "end_date": {
                  "type": "string",
                  "description": "EndDate - дата закрытия калькуляции"
               },
               "manufacturer": {
                  "type": "string"
               },
               "manufacturer_by_analog": {
                  "type": "string"
               },
               "model": {
                  "type": "string"
               },
               "model_by_analog": {
                  "type": "string"
               },
               "modification": {
                  "type": "string"
               },
               "modification_by_analog": {
                  "type": "string"
               },
               "start_date": {
                  "type": "string",
                  "description": "StartDate - дата создания калькуляции"
               },
               "state": {
                  "type": "string",
                  "description": "State - статус калькуляции"
               },
               "state_title": {
                  "type": "string",
                  "description": "StateTitle - статус калькуляции (для отображения)"
               },
               "title": {
                  "type": "string",
                  "description": "Title - заголовок"
               },
               "total_materials_cost": {
                  "type": "number",
                  "description": "TotalMaterialsCost - общая стоимость материалов"
               },
               "total_painting_cost": {
                  "type": "number",
                  "description": "TotalPaintingCost - общая стоимость окрасочных работ"
               },
               "total_repair_price": {
                  "type": "number",
                  "description": "TotalRepairPrice - стоимость восстановительного ремонта"
               },
               "total_repair_price_with_discount": {
                  "type": "number",
                  "description": "TotalRepairPriceWithDiscount - затраты на восстановительный ремонт(с учетом скидки)"
               },
               "total_repair_price_with_markup": {
                  "type": "number",
                  "description": "TotalRepairPriceWithMarkup - затраты на восстановительный ремонт(с учетом надбавки)"
               },
               "total_repair_price_with_run_out": {
                  "type": "number",
                  "description": "TotalRepairPriceWithRunOut - затраты на восстановительный ремонт(с учетом износа)"
               },
               "total_spare_price": {
                  "type": "number",
                  "description": "TotalSparePrice - общая стоимость всех деталей"
               },
               "total_spare_price_with_discount": {
                  "type": "number",
                  "description": "TotalSparePriceWithDiscount - общая стоимость всех деталей с учетом скидки"
               },
               "total_spare_price_with_markup": {
                  "type": "number",
                  "description": "TotalSparePriceWithMarkup - общая стоимость всех деталей с учетом надбавки"
               },
               "total_spare_price_with_run_out": {
                  "type": "number",
                  "description": "TotalSparePriceWithRunOut - общая стоимость всех деталей с учетом износа"
               },
               "total_work_without_painting_cost": {
                  "type": "number",
                  "description": "TotalWorkWithoutPaintingCost - общая стоимость работ за исключением окрасочных работ"
               },
               "use_market_prices": {
                  "type": "boolean",
                  "description": "UseMarketPrices - признак использования рыночных цен на детали"
               }
            },
            "description": "AbCaseExportAvailableCalcView - внешнее представление AvailableCalc для внешнего API."
         },
         "AbCaseExportView": {
            "required": [
               "uid"
            ],
            "type": "object",
            "properties": {
               "business_status": {
                  "title": "Бизнес-статус дела",
                  "type": "string",
                  "description": "Бизнес-статус дела"
               },
               "created_at": {
                  "title": "Создано",
                  "type": "string",
                  "description": "Время создания"
               },
               "created_by": {
                  "title": "Идентификатор создателя",
                  "type": "string",
                  "description": "Идентификатор создателя"
               },
               "customer_uid": {
                  "title": "Идентификатор заказчика",
                  "type": "string",
                  "description": "Идентификатор заказчика"
               },
               "documents": {
                  "title": "Документы по делу",
                  "type": "object",
                  "description": "Документы по делу",
                  "$ref": "#/components/schemas/AbCaseDocumentsExportView"
               },
               "internal_loss_number": {
                  "title": "Внутренний номер убытка",
                  "type": "string",
                  "description": "Внутренний номер убытка"
               },
               "last_calc_info": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/CalcInfoView"
               },
               "name": {
                  "title": "Наименование",
                  "type": "string",
                  "description": "Наименование"
               },
               "number": {
                  "title": "Номер дела",
                  "type": "string",
                  "description": "Номер дела"
               },
               "order_billing_type": {
                  "title": "Тип билингования дел",
                  "type": "string",
                  "description": "Тип билингования дел"
               },
               "phase": {
                  "title": "Фаза состояния дела",
                  "type": "string",
                  "description": "Фаза состояния дела"
               },
               "recipient_company": {
                  "title": "Компания получатель",
                  "type": "string",
                  "description": "Компания получатель"
               },
               "state": {
                  "title": "Состояние дела",
                  "type": "string",
                  "description": "Состояние дела"
               },
               "type": {
                  "title": "Тип",
                  "type": "string",
                  "description": "Тип дела"
               },
               "uid": {
                  "title": "Уникальный идентификатор кейса",
                  "type": "string",
                  "description": "Уникальный идентификатор кейса"
               },
               "updated_at": {
                  "title": "Время обновления",
                  "type": "string",
                  "description": "Время обновления"
               },
               "vehicle": {
                  "title": "Данные по транспортному средству",
                  "type": "object",
                  "description": "Данные по транспортному средству",
                  "$ref": "#/components/schemas/AbCaseVehicleExportView"
               },
               "wearout": {
                  "title": "Износ в деле",
                  "type": "number",
                  "description": "Износ в деле"
               }
            },
            "description": "AbCaseExportView - основной объект \"дела\", объект для отображения во внешнем api"
         },
         "AbCaseQuery": {
            "type": "object",
            "properties": {
               "all_clients": {
                  "type": "boolean",
                  "description": "Показывать ли все дела"
               },
               "assigned_client_uid": {
                  "type": "string",
                  "description": "Идентификатор клиента у которого в настоящий момент находится дело"
               },
               "assigned_user_uid": {
                  "type": "string",
                  "description": "Идентификатор пользователя, который в настоящий момент оперирует с делом"
               },
               "author_uid": {
                  "type": "string",
                  "description": "Идентификатор создателя дела"
               },
               "business_status": {
                  "type": "string",
                  "description": "Бизнес-статус дела"
               },
               "calc_creator_info": {
                  "type": "boolean",
                  "description": "Отдавать ли в ответе информацию о создателе объектов"
               },
               "calc_total": {
                  "type": "boolean",
                  "description": "Отдавать ли в ответе кол-во найденных элементов"
               },
               "created_at": {
                  "type": "string",
                  "description": "Дата создания дела"
               },
               "custom_uid": {
                  "type": "string",
                  "description": "Номер дела"
               },
               "customer_client_uid": {
                  "type": "string",
                  "description": "Идентификатор клиента-заказчика"
               },
               "end_date": {
                  "type": "string",
                  "description": "Дата окончания выборки"
               },
               "fields": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "description": "Перечень полей, которые нужно отдавать в ответе"
               },
               "grz": {
                  "type": "string",
                  "description": "Регистрационный знак ТС"
               },
               "is_archive": {
                  "type": "boolean",
                  "description": "IsArchive - архивные дела"
               },
               "is_car_service": {
                  "type": "boolean",
                  "description": "IsCarService - фильтрация дел вкладки СТО"
               },
               "is_inbox": {
                  "type": "boolean",
                  "description": "IsInbox - показывать входящие и вернувшиеся дела"
               },
               "is_sent": {
                  "type": "boolean",
                  "description": "IsSent - показать отправленные и принятые дела"
               },
               "must_assigned_client": {
                  "type": "boolean",
                  "description": "Клиент у которого в настоящий момент находится дело должен/не должен равняться клиенту текущего пользователя"
               },
               "must_assigned_user": {
                  "type": "boolean",
                  "description": "Пользователь у которого в настоящий момент находится дело должен/не должен равняться текущему пользователю"
               },
               "must_owner_client": {
                  "type": "boolean",
                  "description": "Клиент-владелец должен/не должен равняться клиенту текущего пользователя"
               },
               "order": {
                  "title": "",
                  "type": "object",
                  "description": "Параметры сортировки выдачи из БД",
                  "$ref": "#/components/schemas/SortingOrder"
               },
               "owner_client_uid": {
                  "type": "string",
                  "description": "Идентификатор клиента-владельца"
               },
               "pagination": {
                  "title": "",
                  "type": "object",
                  "description": "Параметры постраничной выдачи мз БД",
                  "$ref": "#/components/schemas/Pagination"
               },
               "search": {
                  "type": "string",
                  "description": "Строка поиска дел"
               },
               "search_assigned_user": {
                  "type": "string",
                  "description": "Строка поиска назначенного пользователя дела"
               },
               "search_author": {
                  "type": "string",
                  "description": "Строка поиска автора дела"
               },
               "search_car_service": {
                  "type": "string",
                  "description": "Строка поиска СТО/СТОА"
               },
               "search_insurance": {
                  "type": "string",
                  "description": "Строка поиска страховой компании"
               },
               "search_recipient_company": {
                  "type": "string",
                  "description": "Строка поиска компании-получателя дела"
               },
               "search_sender_company": {
                  "type": "string",
                  "description": "Строка поиска компании-отправителя дела"
               },
               "start_date": {
                  "type": "string",
                  "description": "Дата начала выборки"
               },
               "state": {
                  "type": "string",
                  "description": "Состояние дела"
               },
               "state_phase": {
                  "type": "string",
                  "description": "Фаза дела"
               },
               "vehicle_owner_fio": {
                  "type": "string",
                  "description": "Фио собственника ТС"
               },
               "vin": {
                  "type": "string",
                  "description": "Идентификационный номер ТС"
               },
               "with_deleted": {
                  "type": "boolean",
                  "description": "WithDeleted - с удаленными"
               },
               "with_last_calc": {
                  "type": "boolean",
                  "description": "WithLastCalc - с последними калькуляциями"
               },
               "without_total_cost": {
                  "type": "boolean",
                  "description": "WithoutTotalCost - без расчета общей стоимости в ответе"
               }
            },
            "description": "AbCaseQuery - объект для запроса дел"
         },
         "AbCaseVehicleExportView": {
            "type": "object",
            "properties": {
               "body": {
                  "title": "Кузов",
                  "type": "string",
                  "description": "Кузов"
               },
               "chassis": {
                  "title": "Шасси",
                  "type": "string",
                  "description": "Шасси"
               },
               "engine_number": {
                  "title": "Номер двигателя",
                  "type": "string",
                  "description": "Номер двигателя"
               },
               "family": {
                  "title": "Семейство",
                  "type": "string",
                  "description": "Семейство"
               },
               "first_reg_date": {
                  "title": "Дата первой регистрации",
                  "type": "string",
                  "description": "Дата первой регистрации"
               },
               "frame": {
                  "title": "Рама",
                  "type": "string",
                  "description": "Рама"
               },
               "issue_year": {
                  "title": "Год выпуска",
                  "type": "integer",
                  "description": "Год выпуска"
               },
               "license_plate": {
                  "title": "Государственный регистрационный знак",
                  "type": "string",
                  "description": "Государственный регистрационный знак"
               },
               "manufacturer": {
                  "title": "Марка",
                  "type": "string",
                  "description": "Марка"
               },
               "manufacturer_by_analog": {
                  "title": "Марка по аналогу",
                  "type": "string",
                  "description": "Марка по аналогу"
               },
               "millage": {
                  "title": "Пробег",
                  "type": "integer",
                  "description": "Пробег"
               },
               "model": {
                  "title": "Модель",
                  "type": "string",
                  "description": "Модель"
               },
               "model_by_analog": {
                  "title": "Модель по аналогу",
                  "type": "string",
                  "description": "Модель по аналогу"
               },
               "modification": {
                  "title": "Модификация",
                  "type": "string",
                  "description": "Модификация"
               },
               "modification_by_analog": {
                  "title": "Модификация по аналогу",
                  "type": "string",
                  "description": "Модификация по аналогу"
               },
               "vehicle_age": {
                  "title": "Возраст транспортного средства",
                  "type": "number",
                  "description": "Возраст транспортного средства"
               },
               "vin": {
                  "title": "VIN",
                  "type": "string",
                  "description": "VIN"
               }
            },
            "description": "AbCaseVehicleExportView - представление описания транспортного средства для внешнего API"
         },
         "AbExportDictionaryElem": {
            "type": "object",
            "properties": {
               "code": {
                  "title": "Код",
                  "type": "string",
                  "description": "Код"
               },
               "id": {
                  "title": "Идентификатор",
                  "type": "integer",
                  "description": "Идентификатор"
               },
               "name": {
                  "title": "Наименование",
                  "type": "string",
                  "description": "Наименование"
               }
            },
            "description": "AbExportDictionaryElem - минимальный вид представления для элемента словаря"
         },
         "AbExportDictionaryView": {
            "type": "object",
            "properties": {
               "case_doc_types": {
                  "title": "Типы документов",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/AbExportDictionaryElem"
                  },
                  "description": "Типы документов"
               },
               "marks": {
                  "title": "Марки транспортных средств",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/AbExportMarksDictionaryView"
                  },
                  "description": "Марки транспортных средств"
               },
               "material_manufactures": {
                  "title": "Производители материалов",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/AbExportDictionaryElem"
                  },
                  "description": "Производители материалов"
               },
               "paint_types": {
                  "title": "Типы покрытия",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/AbExportDictionaryElem"
                  },
                  "description": "Типы покрытия"
               },
               "regions": {
                  "title": "Регионы (только субъекты)",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/AbExportDictionaryElem"
                  },
                  "description": "Регионы (только субъекты)"
               },
               "vehicle_classes": {
                  "title": "Классы транспортных средств",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/AbExportDictionaryElem"
                  },
                  "description": "Классы транспортных средств"
               }
            },
            "description": "AbExportDictionaryView - публичное представление структуры DictionaryView"
         },
         "AbExportMarksDictionaryView": {
            "type": "object",
            "properties": {
               "code": {
                  "title": "Код",
                  "type": "string",
                  "description": "Код"
               },
               "id": {
                  "title": "Идентификатор",
                  "type": "integer",
                  "description": "Идентификатор"
               },
               "models": {
                  "title": "Модели транспортных средств",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/AbExportDictionaryElem"
                  },
                  "description": "Модели транспортных средств"
               },
               "name": {
                  "title": "Наименование",
                  "type": "string",
                  "description": "Наименование"
               }
            },
            "description": "AbExportMarksDictionaryView - вид представления для вложенного словаря marks"
         },
         "AbManagerError": {
            "type": "object",
            "properties": {
               "message": {
                  "type": "string"
               },
               "type": {
                  "type": "string"
               }
            },
            "description": "AbManagerError - часть ответа от менеджера, содержащая детали ошибки"
         },
         "AttachmentFindItem": {
            "type": "object",
            "properties": {
               "case_uid": {
                  "type": "string",
                  "description": "CaseUid - идентификатор дела"
               },
               "client_uid": {
                  "title": "идентификатор клиента",
                  "type": "string",
                  "description": "ClientUid - идентификатор клиента"
               },
               "comments": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "description": "comments - комментарии"
               },
               "content_type": {
                  "title": "тип содержимого",
                  "type": "string",
                  "description": "ContentType - тип содержимого"
               },
               "content_uid": {
                  "title": "идентификатор контента вложения в хранилище",
                  "type": "string",
                  "description": "ContentUid - идентификатор контента вложения в хранилище"
               },
               "created_at": {
                  "title": "дата создания",
                  "type": "string",
                  "description": "CreatedAt - дата создания"
               },
               "created_by": {
                  "title": "кем создано (uid)",
                  "type": "string",
                  "description": "CreatedBy - кем создано (uid)"
               },
               "created_by_name": {
                  "title": "кем создано (имя)",
                  "type": "string",
                  "description": "CreatedByName - кем создано (имя)"
               },
               "deleted": {
                  "title": "признак удаленной записи",
                  "type": "boolean",
                  "description": "Deleted - признак удаленной записи"
               },
               "fname": {
                  "title": "имя исходного файла",
                  "type": "string",
                  "description": "Fname - имя исходного файла"
               },
               "group_uid": {
                  "title": "идентификатор группы",
                  "type": "string",
                  "description": "GroupUid - идентификатор группы"
               },
               "is_b2b_report": {
                  "type": "boolean",
                  "description": "IsB2bReport - признак b2b отчета"
               },
               "is_paid": {
                  "type": "boolean"
               },
               "name": {
                  "title": "наименование",
                  "type": "string",
                  "description": "Name - наименование"
               },
               "signature": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/SignatureSummary"
               },
               "stage_uid": {
                  "type": "string",
                  "description": "StageUid - идентификатор стадии дела"
               },
               "status": {
                  "type": "string"
               },
               "storage_uid": {
                  "title": "идентификатор хранилища",
                  "type": "string",
                  "description": "StorageUid - идентификатор хранилища"
               },
               "tags": {
                  "title": "метки (тэги)",
                  "type": "string",
                  "description": "Tags - метки (тэги)"
               },
               "thumbnail": {
                  "type": "string",
                  "description": "Thumbnail - миниатюра (в base64)"
               },
               "type": {
                  "title": "тип",
                  "type": "string",
                  "description": "Type - тип"
               },
               "uid": {
                  "title": "идентификатор записи",
                  "type": "string",
                  "description": "Uid - идентификатор записи"
               },
               "updated_at": {
                  "title": "дата обновления",
                  "type": "string",
                  "description": "UpdatedAt - дата обновления"
               }
            },
            "description": "AttachmentFindItem - элемент find вложений с optional signature"
         },
         "AttachmentStatus": {
            "type": "string"
         },
         "CalcInfoView": {
            "type": "object",
            "properties": {
               "case_uid": {
                  "type": "string"
               },
               "geo_zone": {
                  "type": "string"
               },
               "geo_zone_code": {
                  "type": "string"
               },
               "id": {
                  "type": "integer"
               },
               "material_manufacturer": {
                  "type": "string"
               },
               "material_manufacturer_id": {
                  "type": "integer"
               },
               "paint_type": {
                  "type": "string"
               },
               "paint_type_id": {
                  "type": "integer"
               }
            },
            "description": "CalcInfoView - представление информации по калькуляции"
         },
         "CalcState": {
            "enum": [
               "DRAFT",
               "COMPLETE"
            ],
            "type": "string"
         },
         "CalculationResult": {
            "type": "object",
            "properties": {
               "Checklist": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/Checklist"
               },
               "DictionariesInfo": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/DictionaryInfoSet"
               },
               "Franchise": {
                  "type": "number"
               },
               "Inspection": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/InspectionReport"
               },
               "Materials": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/MaterialsResult"
                  }
               },
               "PayoutAmount": {
                  "type": "number"
               },
               "Spares": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/SparesResult"
                  }
               },
               "Summary": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/SummarizedData"
               },
               "TotalRunOut": {
                  "type": "number"
               },
               "TotalSparePriceWithDiscount": {
                  "type": "number"
               },
               "TotalSparePriceWithDiscountAndRunOut": {
                  "type": "number"
               },
               "TotalSparePriceWithMarkup": {
                  "type": "number"
               },
               "TotalSparePriceWithMarkupAndRunOut": {
                  "type": "number"
               },
               "TotalWorksPrice": {
                  "type": "number"
               },
               "UtsPrice": {
                  "type": "number"
               },
               "Works": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/WorksResult"
                  }
               },
               "error": {
                  "title": "Ошибка при выполнении калькуляции",
                  "type": "object",
                  "description": "Ошибка при выполнении калькуляции",
                  "$ref": "#/components/schemas/RestError"
               },
               "total_spare_price": {
                  "title": "Общая стоимость деталей",
                  "type": "number",
                  "description": "Общая стоимость деталей"
               },
               "total_spare_price_with_run_out": {
                  "title": "Общая стоимость деталей  с учетом износа",
                  "type": "number",
                  "description": "Общая стоимость деталей  с учетом износа"
               },
               "warn": {
                  "title": "Предупреждения при выполнении калькуляции",
                  "type": "object",
                  "description": "Предупреждения при выполнении калькуляции",
                  "$ref": "#/components/schemas/RestError"
               }
            },
            "description": "CalculationResult - структура для представления результатов калькуляции"
         },
         "CaseAttachmentBuiltinType": {
            "enum": [
               "APPLICATION",
               "CONCLUSION",
               "FULL_EXPERT_CONCLUSION",
               "INSPECTION_REPORT",
               "HIDDEN_DAMAGE_DETECTION_ACT",
               "DIRECTION_FOR_REPAIR",
               "CALCULATION",
               "ACT_OF_APPROVAL",
               "CERTIFICATE_OF_COMPLETION",
               "ORDER_OUTFIT",
               "CHECK",
               "OTHER",
               "INSPECTION_REPORT_DECISION",
               "PHOTO_TABLE",
               "AGREEMENT_FINAL",
               "PHOTO_AFTER_REPAIR",
               "PHOTO_DAMAGES"
            ],
            "type": "string"
         },
         "CaseHistoryDictionary": {
            "type": "object",
            "properties": {
               "event_type": {
                  "type": "string"
               },
               "title": {
                  "type": "string"
               }
            },
            "description": "CaseHistoryDictionary - словарь для EventType"
         },
         "CasePhase": {
            "enum": [
               "SENT",
               "ACCEPTED",
               "PROCESSING",
               "REJECTED",
               ""
            ],
            "type": "string"
         },
         "CaseState": {
            "enum": [
               "CREATING",
               "INSPECTION_EXPERT",
               "CALCULATION_EXPERT",
               "INSPECTION_SERVICE",
               "CALCULATION_SERVICE",
               "DECISION_MAKING",
               "REPAIR",
               "COMPLETED",
               "ARCHIVE",
               ""
            ],
            "type": "string"
         },
         "CaseType": {
            "enum": [
               "KASKO",
               "OSAGO",
               ""
            ],
            "type": "string"
         },
         "Checklist": {
            "type": "object",
            "properties": {
               "CalcUid": {
                  "type": "string"
               },
               "Impacts": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ChecklistImpact"
                  }
               },
               "State": {
                  "type": "string"
               }
            },
            "description": "Checklist - контрольный лист"
         },
         "ChecklistImpact": {
            "type": "object",
            "properties": {
               "Action": {
                  "title": "",
                  "type": "object",
                  "description": "Action - внутреннее представление действий",
                  "$ref": "#/components/schemas/ImpactAction"
               },
               "ActionParam": {
                  "title": "",
                  "type": "object",
                  "description": "ActionParam - внутреннее представление параметров действий",
                  "$ref": "#/components/schemas/ImpactActionParam"
               },
               "CalcInId": {
                  "type": "integer",
                  "description": "CalcInId - идентификатор строки calc_in"
               },
               "ComponentCode": {
                  "type": "string",
                  "description": "ComponentCode - SNumber"
               },
               "ComponentId": {
                  "type": "integer",
                  "description": "ComponentId - внутренний числовой ид от SNumber"
               },
               "IsNsp": {
                  "type": "boolean",
                  "description": "IsNsp - признак НСП"
               },
               "Materials": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ChecklistMaterial"
                  },
                  "description": "ЛКМ"
               },
               "Removed": {
                  "type": "boolean",
                  "description": "Removed - флаг был ли удален коррекцией"
               },
               "SpareCode": {
                  "type": "string",
                  "description": "SpareCode - код детали, обычно берется из source"
               },
               "SpareData": {
                  "title": "",
                  "type": "object",
                  "description": "SpareData - деталь",
                  "$ref": "#/components/schemas/SparesResult"
               },
               "SpareId": {
                  "type": "integer",
                  "description": "SpareId - код (id) детали внутренний (det_sp_id)"
               },
               "Subs": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ChecklistImpact"
                  },
                  "description": "subs - вложенные воздействия (воздействия нижнего уровня)"
               },
               "SuppressedByWorkID": {
                  "type": "integer",
                  "description": "SuppressedByWorkID - идентификатор работы, которая глушит этого воздействие"
               },
               "Work": {
                  "title": "",
                  "type": "object",
                  "description": "Work - работа",
                  "$ref": "#/components/schemas/RepairWork"
               }
            },
            "description": "ChecklistImpact - рем."
         },
         "ChecklistMaterial": {
            "type": "object",
            "properties": {
               "Amount": {
                  "type": "number",
                  "description": "Amount - количество"
               },
               "CalculatedPrice": {
                  "type": "number"
               },
               "ComponentCode": {
                  "type": "string",
                  "description": "ComponentCode - код компонента"
               },
               "Id": {
                  "type": "integer",
                  "description": "Id - идентификатор материала"
               },
               "IsGlueKit": {
                  "type": "boolean",
                  "description": "IsGlueKit - флаг того, что материал является комплектом для вклейки"
               },
               "IsNsp": {
                  "type": "boolean",
                  "description": "IsNsp - флаг того, что материал является НСП"
               },
               "Name": {
                  "type": "string",
                  "description": "Name - наименование материала"
               },
               "Norma": {
                  "type": "number",
                  "description": "Norma - норма"
               },
               "NotPVM": {
                  "type": "boolean",
                  "description": "NotPVM - флаг того, что материал не является ЛКМ"
               },
               "Original": {
                  "title": "",
                  "type": "object",
                  "description": "Original - исходные значения без применения корректировок",
                  "$ref": "#/components/schemas/PaintsVarnishesMaterial"
               },
               "PerItem": {
                  "type": "boolean",
                  "description": "PerItem - считаем по штучно"
               },
               "Price": {
                  "type": "number",
                  "description": "Price - цена"
               },
               "Removed": {
                  "type": "boolean",
                  "description": "Removed - флаг удаления"
               },
               "SpareCode": {
                  "type": "string",
                  "description": "SpareCode - код детали (det_kod)"
               }
            },
            "description": "ChecklistMaterial - материал для контрольного листа"
         },
         "CreateCaseRequest": {
            "type": "object",
            "properties": {
               "accident_date": {
                  "title": "Дата время ДТП",
                  "type": "string",
                  "description": "Дата время ДТП"
               },
               "custom_manufacturer": {
                  "title": "Наименование марки ТС",
                  "type": "string",
                  "description": "Наименование марки ТС"
               },
               "custom_model": {
                  "title": "Наименование модели ТС",
                  "type": "string",
                  "description": "Наименование модели ТС"
               },
               "custom_modification": {
                  "title": "Наименование модификации ТС",
                  "type": "string",
                  "description": "Наименование модификации ТС"
               },
               "customer_uid": {
                  "title": "Идентификатор клиента-заказчика",
                  "type": "string",
                  "description": "Идентификатор клиента-заказчика"
               },
               "first_reg_date": {
                  "title": "Дата первой регистрации ТС",
                  "type": "string",
                  "description": "Дата первой регистрации ТС"
               },
               "insurance_case_date": {
                  "title": "Дата заявления страхового случая",
                  "type": "string",
                  "description": "Дата заявления страхового случая"
               },
               "internal_loss_number": {
                  "title": "Внутренний номер убытка",
                  "type": "string",
                  "description": "Внутренний номер убытка"
               },
               "is_custom_vehicle_name": {
                  "title": "Признак переопределения наименования ТС при расчете по аналогу",
                  "type": "boolean",
                  "description": "Признак переопределения наименования ТС при расчете по аналогу"
               },
               "is_foreign_license_plate": {
                  "title": "Признак",
                  "type": "boolean",
                  "description": "Признак"
               },
               "issue_year": {
                  "title": "Год выпуска",
                  "type": "integer",
                  "description": "Год выпуска"
               },
               "license_plate": {
                  "title": "Государственный регистрационный знак",
                  "type": "string",
                  "description": "Государственный регистрационный знак"
               },
               "millage": {
                  "title": "Пробег",
                  "type": "integer",
                  "description": "Пробег"
               },
               "number": {
                  "title": "Номер дела",
                  "type": "string",
                  "description": "Номер дела"
               },
               "type": {
                  "title": "Тип страхования",
                  "type": "string",
                  "description": "Тип страхования"
               },
               "vehicle_doc_number": {
                  "title": "Номер документа о ТС",
                  "type": "string",
                  "description": "Номер документа о ТС"
               },
               "vehicle_doc_type": {
                  "title": "Тип документа о ТС (СТС/ПТС)",
                  "type": "string",
                  "description": "Тип документа о ТС (СТС/ПТС)"
               },
               "vehicle_id": {
                  "title": "Идентификатор ТС",
                  "type": "string",
                  "description": "Идентификатор ТС"
               },
               "vehicle_id_type": {
                  "title": "Тип идентификатора ТС",
                  "type": "string",
                  "description": "Тип идентификатора ТС"
               },
               "vehicle_manufacturer_id": {
                  "title": "Производитель ТС",
                  "type": "integer",
                  "description": "Производитель ТС"
               },
               "vehicle_model_id": {
                  "title": "Модель ТС",
                  "type": "integer",
                  "description": "Модель ТС"
               },
               "vehicle_modification_id": {
                  "title": "Модификация ТС",
                  "type": "integer",
                  "description": "Модификация ТС"
               }
            },
            "description": "CreateCaseRequest - запрос на создание дела по внешнему API (первый этап)."
         },
         "DefaultItemsResult[abview_AbCaseExportAvailableCalcView]": {
            "type": "object",
            "properties": {
               "items": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/AbCaseExportAvailableCalcView"
                  }
               },
               "total": {
                  "type": "integer"
               }
            }
         },
         "DefaultItemsResult[abview_ExportCaseCommentView]": {
            "type": "object",
            "properties": {
               "items": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ExportCaseCommentView"
                  }
               },
               "total": {
                  "type": "integer"
               }
            }
         },
         "DefaultItemsResult[abview_ExportCaseHistoryView]": {
            "type": "object",
            "properties": {
               "items": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/ExportCaseHistoryView"
                  }
               },
               "total": {
                  "type": "integer"
               }
            }
         },
         "DictionaryInfoSet": {
            "type": "object",
            "properties": {
               "GeneralizedDate": {
                  "type": "string",
                  "description": "GeneralizedDate - обобщенная дата"
               },
               "MaterialPriceDate": {
                  "type": "string",
                  "description": "MaterialPriceDate - дата прайса цен на материалы"
               },
               "SparePriceDate": {
                  "type": "string",
                  "description": "SparePriceDate - дата прайса цен на детали"
               },
               "WorkPriceDate": {
                  "type": "string",
                  "description": "WorkPriceDate - дата прайса цен на работы"
               }
            },
            "description": "DictionaryInfoSet - информация по использованным справочникам"
         },
         "ErrorConvert": {
            "type": "object",
            "properties": {
               "error": {
                  "title": "Информация об ошибке",
                  "type": "object",
                  "description": "Информация об ошибке",
                  "$ref": "#/components/schemas/RestError"
               },
               "http_code": {
                  "title": "Соответствующий HTTP код",
                  "type": "integer",
                  "description": "Соответствующий HTTP код"
               },
               "http_code_name": {
                  "title": "Имя соответствующего HTTP код",
                  "type": "string",
                  "description": "Имя соответствующего HTTP код"
               },
               "stats": {
                  "title": "Статистика",
                  "type": "object",
                  "description": "Статистика",
                  "$ref": "#/components/schemas/RequestStats"
               },
               "success": {
                  "title": "Признак успешного завершения",
                  "type": "boolean",
                  "description": "Признак успешного завершения"
               }
            }
         },
         "ExportCaseCommentCreateQuery": {
            "type": "object",
            "properties": {
               "text": {
                  "title": "Текст комментария",
                  "type": "string",
                  "description": "Текст комментария"
               }
            },
            "description": "ExportCaseCommentCreateQuery - запрос добавления комментария к делу во внешнем API."
         },
         "ExportCaseCommentView": {
            "type": "object",
            "properties": {
               "client_name": {
                  "title": "Наименование клиента автора",
                  "type": "string",
                  "description": "Наименование клиента автора"
               },
               "created_at": {
                  "title": "Время создания",
                  "type": "string",
                  "description": "Время создания"
               },
               "text": {
                  "title": "Текст комментария",
                  "type": "string",
                  "description": "Текст комментария"
               },
               "uid": {
                  "title": "Уникальный идентификатор комментария",
                  "type": "string",
                  "description": "Уникальный идентификатор комментария"
               },
               "user_name": {
                  "title": "Имя автора",
                  "type": "string",
                  "description": "Имя автора"
               }
            },
            "description": "ExportCaseCommentView - комментарий к делу для внешнего API."
         },
         "ExportCaseHistoryQuery": {
            "type": "object",
            "properties": {
               "date_end": {
                  "title": "Окончание периода",
                  "type": "string",
                  "description": "Окончание периода"
               },
               "date_start": {
                  "title": "Начало периода",
                  "type": "string",
                  "description": "Начало периода"
               },
               "event_types": {
                  "title": "Типы событий",
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "description": "Типы событий"
               },
               "pagination": {
                  "title": "Параметры постраничной выдачи",
                  "type": "object",
                  "description": "Параметры постраничной выдачи",
                  "$ref": "#/components/schemas/Pagination"
               },
               "recipient_client_uid": {
                  "title": "Идентификатор клиента-получателя",
                  "type": "string",
                  "description": "Идентификатор клиента-получателя"
               },
               "sender_client_uid": {
                  "title": "Идентификатор клиента-отправителя",
                  "type": "string",
                  "description": "Идентификатор клиента-отправителя"
               }
            },
            "description": "ExportCaseHistoryQuery - запрос событий журнала по делу во внешнем API."
         },
         "ExportCaseHistoryView": {
            "type": "object",
            "properties": {
               "created_at": {
                  "title": "Дата и время события",
                  "type": "string",
                  "description": "Дата и время события"
               },
               "event_type": {
                  "title": "Код типа события",
                  "type": "string",
                  "description": "Код типа события"
               },
               "recipient_client": {
                  "title": "Клиент-получатель",
                  "type": "string",
                  "description": "Клиент-получатель"
               },
               "sender_client": {
                  "title": "Клиент-отправитель",
                  "type": "string",
                  "description": "Клиент-отправитель"
               },
               "sender_client_uid": {
                  "title": "Идентификатор клиента-отправителя",
                  "type": "string",
                  "description": "Идентификатор клиента-отправителя"
               },
               "title": {
                  "title": "Описание события",
                  "type": "string",
                  "description": "Описание события"
               }
            },
            "description": "ExportCaseHistoryView - событие журнала по делу для внешнего API."
         },
         "FindAbCaseItem[abview_AbCaseExportView]": {
            "required": [
               "case"
            ],
            "type": "object",
            "properties": {
               "case": {
                  "title": "Дело",
                  "type": "object",
                  "description": "Дело",
                  "$ref": "#/components/schemas/AbCaseExportView"
               },
               "meta": {
                  "title": "Мета информация о деле",
                  "type": "object",
                  "description": "Мета информация о деле",
                  "$ref": "#/components/schemas/FindAbCaseMeta"
               }
            }
         },
         "FindAbCaseMeta": {
            "required": [
               "is_available"
            ],
            "type": "object",
            "properties": {
               "is_allow_case_edit": {
                  "title": "Можно ли редактировать дело",
                  "type": "boolean",
                  "description": "Можно ли редактировать дело"
               },
               "is_available": {
                  "title": "Признак доступности дела",
                  "type": "boolean",
                  "description": "Признак доступности дела"
               },
               "is_operation_accept_case": {
                  "title": "Доступна ли операция: принять дело",
                  "type": "boolean",
                  "description": "Доступна ли операция: принять дело"
               },
               "is_operation_add_case_comment": {
                  "title": "Доступна ли операция: добавить комментарий к делу",
                  "type": "boolean",
                  "description": "Доступна ли операция: добавить комментарий к делу"
               },
               "is_operation_change_group": {
                  "title": "Доступна ли операция: сменить группу у дела",
                  "type": "boolean",
                  "description": "Доступна ли операция: сменить группу у дела"
               },
               "is_operation_change_view_type": {
                  "title": "Доступна ли операция: сменить тип отображения дела",
                  "type": "boolean",
                  "description": "Доступна ли операция: сменить тип отображения дела"
               },
               "is_operation_copy_case": {
                  "title": "Доступна ли операция: копировать дело",
                  "type": "boolean",
                  "description": "Доступна ли операция: копировать дело"
               },
               "is_operation_deny_case": {
                  "title": "Доступна ли операция: отклонить дело",
                  "type": "boolean",
                  "description": "Доступна ли операция: отклонить дело"
               },
               "is_operation_open_case": {
                  "title": "Доступна ли операция: открыть дело",
                  "type": "boolean",
                  "description": "Доступна ли операция: открыть дело"
               },
               "is_operation_pass_case": {
                  "title": "Доступна ли операция: передать дело другому пользователю",
                  "type": "boolean",
                  "description": "Доступна ли операция: передать дело другому пользователю"
               },
               "is_operation_return_case": {
                  "title": "Доступна ли операция: вернуть дело",
                  "type": "boolean",
                  "description": "Доступна ли операция: вернуть дело"
               },
               "is_operation_return_case_to_creator": {
                  "title": "Доступна ли операция: вернуть дело создателю",
                  "type": "boolean",
                  "description": "Доступна ли операция: вернуть дело создателю"
               },
               "is_operation_return_from_archive": {
                  "title": "Доступна ли операция: вернуть из архива",
                  "type": "boolean",
                  "description": "Доступна ли операция: вернуть из архива"
               },
               "is_operation_send_case": {
                  "title": "Доступна ли операция: передать дело",
                  "type": "boolean",
                  "description": "Доступна ли операция: передать дело"
               },
               "is_operation_send_case_to_customer": {
                  "title": "Доступна ли операция: передать дело заказчику",
                  "type": "boolean",
                  "description": "Доступна ли операция: передать дело заказчику"
               },
               "is_operation_send_to_archive": {
                  "title": "Доступна ли операция: отправить в архив",
                  "type": "boolean",
                  "description": "Доступна ли операция: отправить в архив"
               },
               "is_operation_show_report": {
                  "title": "Доступна ли операция: сформировать отчет",
                  "type": "boolean",
                  "description": "Доступна ли операция: сформировать отчет"
               },
               "is_operation_took_case": {
                  "title": "Доступна ли операция: забрать дело себе",
                  "type": "boolean",
                  "description": "Доступна ли операция: забрать дело себе"
               },
               "is_operation_withdraw_case": {
                  "title": "Доступна ли операция: отозвать дело",
                  "type": "boolean",
                  "description": "Доступна ли операция: отозвать дело"
               },
               "total_cost": {
                  "title": "Общая стоимость",
                  "type": "number",
                  "description": "Общая стоимость"
               }
            },
            "description": "FindAbCaseMeta - мета информация о деле"
         },
         "FindAbCaseResult[abview_AbCaseExportView]": {
            "required": [
               "items",
               "total"
            ],
            "type": "object",
            "properties": {
               "error": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/AbManagerError"
               },
               "items": {
                  "title": "Список дел",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/FindAbCaseItem[abview_AbCaseExportView]"
                  },
                  "description": "Список дел"
               },
               "total": {
                  "title": "Количество дел",
                  "type": "integer",
                  "description": "Количество дел"
               }
            }
         },
         "FindAttachmentsQuery": {
            "type": "object",
            "properties": {
               "Order": {
                  "title": "",
                  "type": "object",
                  "description": "Order - сортировка выдачи из БД",
                  "$ref": "#/components/schemas/SortingOrder"
               },
               "Pagination": {
                  "title": "",
                  "type": "object",
                  "description": "Pagination - постраничная выдача мз БД",
                  "$ref": "#/components/schemas/Pagination"
               },
               "case_uid": {
                  "type": "string",
                  "description": "CaseUid - идентификатор дела"
               },
               "mode": {
                  "type": "string",
                  "description": "Mode - вид вложения"
               },
               "stage_uid": {
                  "type": "string",
                  "description": "StageUid - идентификатор стадии дела"
               }
            },
            "description": "FindAttachmentsQuery - запрос на получение списка вложений по делу"
         },
         "FindAttachmentsResult": {
            "required": [
               "items"
            ],
            "type": "object",
            "properties": {
               "error": {
                  "title": "",
                  "type": "object",
                  "description": "",
                  "$ref": "#/components/schemas/AbManagerError"
               },
               "items": {
                  "title": "Список вложений",
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/AttachmentFindItem"
                  },
                  "description": "Список вложений"
               },
               "total": {
                  "type": "integer"
               }
            },
            "description": "FindAttachmentsResult - результат поиска вложений с additive optional signature"
         },
         "FindCaseAttachmentQueryMode": {
            "enum": [
               "DOC",
               "PHOTO",
               "FILE",
               "REPORT"
            ],
            "type": "string"
         },
         "HistoryEventType": {
            "type": "string"
         },
         "ImpactAction": {
            "type": "object",
            "properties": {
               "type": {
                  "title": "Код группы рем. воздействия",
                  "type": "string",
                  "description": "Код группы рем. воздействия"
               }
            },
            "description": "ImpactAction - отдельное действие в рамках ремонтного воздействия"
         },
         "ImpactActionParam": {
            "type": "object",
            "properties": {
               "surface_condition_id": {
                  "type": "integer",
                  "description": "SurfaceConditionId - id состояния детали под окраску"
               }
            },
            "description": "ImpactActionParam - параметры воздействия"
         },
         "ImpactGroupCode": {
            "enum": [
               "",
               "SPARE",
               "REPLACEMENT",
               "REPAIR",
               "REMOVAL",
               "PAINTING",
               "VISUAL_CHECK",
               "OTHER"
            ],
            "type": "string"
         },
         "InspectionReport": {
            "type": "object",
            "properties": {
               "Items": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/InspectionReportItem"
                  }
               }
            },
            "description": "InspectionReport - структура хранения таблицы \"Характер повреждений\""
         },
         "InspectionReportItem": {
            "type": "object",
            "properties": {
               "Coloring": {
                  "type": "boolean",
                  "description": "Coloring - Окраска"
               },
               "Diagnostics": {
                  "type": "boolean",
                  "description": "Diagnostics - Диагностика"
               },
               "IsEmptyWork": {
                  "type": "boolean",
                  "description": "IsEmptyWork - является ли работа пустой"
               },
               "IsNSP": {
                  "type": "boolean",
                  "description": "IsNSP - НСП"
               },
               "Name": {
                  "type": "string",
                  "description": "Name - Наименование"
               },
               "NatureOfDamage": {
                  "type": "string",
                  "description": "NatureOfDamage - Характер повреждений"
               },
               "Num": {
                  "type": "integer",
                  "description": "Num - Порядковый номер записи в коллекции"
               },
               "Repair": {
                  "type": "boolean",
                  "description": "Repair - Ремонт"
               },
               "RepairNorm": {
                  "type": "number",
                  "description": "RepairNorm - норматив ремонта"
               },
               "Replacement": {
                  "type": "boolean",
                  "description": "Replacement - Замена"
               },
               "WithDamage": {
                  "type": "boolean",
                  "description": "WithDamage - есть повреждения"
               }
            },
            "description": "InspectionReportItem - строка таблицы Акта осмотра"
         },
         "MaterialsResult": {
            "type": "object",
            "properties": {
               "Amount": {
                  "type": "number"
               },
               "Code": {
                  "type": "string",
                  "description": "Code - внутренний код materials result, для устранения дублирований."
               },
               "ComponentCode": {
                  "type": "string"
               },
               "FromComplex": {
                  "type": "boolean",
                  "description": "FromComplex - флаг того, что материал получен из комплекса"
               },
               "IsNsp": {
                  "type": "boolean",
                  "description": "IsNsp - флаг того, что материал является НСП"
               },
               "Name": {
                  "type": "string"
               },
               "Norma": {
                  "type": "number"
               },
               "NotPVM": {
                  "type": "boolean",
                  "description": "NotPVM - флаг того, что материал не является ЛКМ"
               },
               "Original": {
                  "title": "",
                  "type": "string",
                  "description": "Original - исходные значения без применения корректировок",
                  "$ref": "#/components/schemas/MaterialsResult"
               },
               "PerItem": {
                  "type": "boolean",
                  "description": "PerItem - считаем по штучно"
               },
               "Price": {
                  "type": "number"
               },
               "PriceBySpare": {
                  "type": "number"
               },
               "SpareCode": {
                  "type": "string"
               },
               "SpareName": {
                  "type": "string"
               },
               "UnitPrice": {
                  "type": "number"
               }
            },
            "description": "MaterialsResult - по материалам"
         },
         "NatureOfDamage": {
            "type": "string"
         },
         "OrderBillingType": {
            "type": "string"
         },
         "Pagination": {
            "type": "object",
            "properties": {
               "limit": {
                  "type": "integer",
                  "description": "Количество"
               },
               "offset": {
                  "type": "integer",
                  "description": "Смещение"
               }
            },
            "description": "Pagination - Параметры постраничной выдачи мз БД"
         },
         "PaintsVarnishesMaterial": {
            "type": "object",
            "properties": {
               "Amount": {
                  "type": "number",
                  "description": "Amount - количество"
               },
               "ComponentCode": {
                  "type": "string",
                  "description": "ComponentCode - код компонента"
               },
               "Id": {
                  "type": "integer",
                  "description": "Id - идентификатор материала"
               },
               "IsGlueKit": {
                  "type": "boolean",
                  "description": "IsGlueKit - флаг того, что материал является комплектом для вклейки"
               },
               "IsNsp": {
                  "type": "boolean",
                  "description": "IsNsp - флаг того, что материал является НСП"
               },
               "Name": {
                  "type": "string",
                  "description": "Name - наименование материала"
               },
               "Norma": {
                  "type": "number",
                  "description": "Norma - норма"
               },
               "NotPVM": {
                  "type": "boolean",
                  "description": "NotPVM - флаг того, что материал не является ЛКМ"
               },
               "Original": {
                  "title": "",
                  "type": "string",
                  "description": "Original - исходные значения без применения корректировок",
                  "$ref": "#/components/schemas/PaintsVarnishesMaterial"
               },
               "PerItem": {
                  "type": "boolean",
                  "description": "PerItem - считаем по штучно"
               },
               "Price": {
                  "type": "number",
                  "description": "Price - цена"
               },
               "Removed": {
                  "type": "boolean",
                  "description": "Removed - флаг удаления"
               },
               "SpareCode": {
                  "type": "string",
                  "description": "SpareCode - код детали (det_kod)"
               }
            },
            "description": "PaintsVarnishesMaterial - ЛКМ"
         },
         "PrincipalDTO": {
            "required": [
               "a",
               "n"
            ],
            "type": "object",
            "properties": {
               "a": {
                  "title": "Auth Type",
                  "type": "string",
                  "description": "type of authentication used to load principal"
               },
               "b": {
[...]
